@mixin octicon-status {
  .status {
    &-new {
      fill: var(--color-new);
    }
    &-copied {
      fill: var(--color-new);
    }
    &-modified {
      fill: var(--color-modified);
    }
    &-renamed {
      fill: var(--color-renamed);
    }
    &-deleted {
      fill: var(--color-deleted);
    }
    &-conflicted {
      fill: var(--color-conflicted);
    }
  }

  .line-endings {
    fill: var(--color-conflicted);
  }
}
