// Variables
//
// This files contains CSS variables accessible to all selectors

// Primer colors, see https://github.com/primer/primer-css/blob/master/modules/primer-support/lib/variables/color-system.scss
@import '~primer-support/lib/variables/color-system.scss';

@import '~@primer/primitives/dist/scss/colors/_dark.scss';
@import '~@primer/primitives/dist/scss/colors/_dark_colorblind';
@import '~@primer/primitives/dist/scss/colors/_dark_dimmed.scss';
@import '~@primer/primitives/dist/scss/colors/_dark_high_contrast.scss';
@import '~@primer/primitives/dist/scss/colors/_dark_tritanopia.scss';

// This should be something like
// @media (prefers-color-scheme: dark)
// See https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
// https://www.electronjs.org/docs/api/native-theme#nativethemethemesource

$overlay-background-color: rgba(0, 0, 0, 0.6);

:root body {
  &.theme-dark {
    @include primer-colors-dark;
  }

  &.theme-dark-colorblind {
    @include primer-colors-dark_colorblind;
  }

  &.theme-dark-dimmed {
    @include primer-colors-dark_dimmed;
  }

  &.theme-dark-high-contrast {
    @include primer-colors-dark_high_contrast;
  }

  &.theme-dark-tritanopia {
    @include primer-colors-dark_tritanopia;
  }

  &.theme-dark,
  &.theme-dark-colorblind,
  &.theme-dark-dimmed,
  &.theme-dark-high-contrast,
  &.theme-dark-tritanopia {
    --color-new: var(--color-success-fg);
    --color-deleted: var(--color-danger-fg);
    --color-modified: var(--color-attention-fg);
    --color-renamed : var(--color-fg-muted);
    --color-conflicted: var(--color-severe-fg);

    --text-color: var(--color-scale-white);
    --text-secondary-color: var(--color-scale-gray-2);
    --text-secondary-color-muted: var(--color-scale-gray-3);
    --background-color: var(--color-canvas-default);
    --background-color-transparent: var(--color-canvas-default-transparent);

    --button-background: var(--color-scale-blue-6);
    --button-hover-background: var(--color-scale-blue-5);
    --button-text-color: var(--color-scale-white);
    --button-focus-border-color: var(--color-scale-blue-7);

    --link-button-color: var(--color-accent-fg);

    --secondary-button-background: #{$gray-800};
    --secondary-button-border-color: var(--box-border-contrast-color);
    --secondary-button-hover-border-color: #{$gray-300};
    --secondary-button-hover-background: var(--secondary-button-background);
    --secondary-button-text-color: var(--text-color);
    --secondary-button-focus-shadow-color: #{rgba($gray-200, 0.75)};
    --secondary-button-focus-border-color: #{$gray-300};

    /**
    * Color for icons that are placed on top of a colored backing
    * (like a circle badge icon)
    */
    --badge-icon-color: pink;//#{gray-300};
    --warning-badge-icon-color: pink;

    /**
    * Background color for custom scroll bars.
    * The color is applied to the thumb part of the scrollbar.
    *
    * Note: Only applies to win32 and linux platforms
    */
    --scroll-bar-thumb-background-color: rgba(255, 255, 255, 0.2);

    /**
    * Background color for custom scroll bars in their active state.
    * The color is applied to the thumb part of the scrollbar.
    *
    * Note: Only applies to win32 and linux platforms
    */
    --scroll-bar-thumb-background-color-active: rgba(255, 255, 255, 0.5);

    // Box
    //
    // We use the term 'box' here to refer to a very high-level generic
    // component that fits many use cases. A 'box' might be a list item
    // or an item in a tab control header. It's up to each implementation
    // to decide what states to support (active selection, selection, etc).

    --box-background-color: var(--color-canvas-inset);
    --box-alt-background-color: var(--color-canvas-subtle);

    /**
    * Background color for skeleton or "loading" boxes
    */
    --box-skeleton-background-color: var(--color-scale-gray-6);
    --skeleton-background-gradient: -webkit-linear-gradient(left, rgba(36, 41, 46, 0) 0%, rgba(36, 41, 46, 0.5) 50%, rgba(36, 41, 46, 0) 100%);

    /**
    * Border color for boxes.
    */
    --box-border-color: var(--color-border-subtle);

    // slightly lighter of gray-500 to get 3:1 contrast ratio against
    // --box-alt-background-color
    --box-border-contrast-color: var(--color-fg-muted);
    --box-border-accent-color: pink;

    /**
    * Background color for selected boxes without keyboard focus
    */
    --box-selected-background-color: var(--color-action-list-item-default-active-bg);

    /**
    * Text color for when a user hovers over a boxe with a
    * pointing device. Should not be used by boxes that doesn't
    * implement a hover state since this will conflict with
    * selection and active selection
    */
    --box-hover-text-color: var(--text-color);

    /**
    * Background color for when a user hovers over a boxe with a
    * pointing device. Should not be used by boxes that doesn't
    * implement a hover state since this will conflict with
    * selection and active selection
    */
    // --box-hover-background-color: #{$gray-700};
    --box-hover-background-color: var(--color-action-list-item-default-hover-bg);

    /**
    * Text color for selected boxes without keyboard focus
    */
    --box-selected-text-color: var(--text-color);

    /**
    * Border color for selected boxes without keyboard focus
    */
    // --box-selected-border-color: #{$gray-400};
    --box-selected-border-color: red;

    /**
    * Background color for selected boxes with active keyboard focus
    */
    --box-selected-active-background-color: var(--color-scale-blue-6);

    /**
    * Text color for selected boxes with active keyboard focus
    */
    --box-selected-active-text-color: var(--color-scale-white);

    /**
    * Border color for selected boxes with active keyboard focus
    */
    // --box-selected-active-border-color: #{$gray-400};
    --box-selected-active-border-color: blue;

    /**
    * Gradient used to indicate that content is overflowing, intended
    * for use when content can be expanded through other means than
    * scrolling.
    */
    --box-overflow-shadow-background: linear-gradient(180deg, var(--background-color-transparent) 0%, var(--background-color) 90%, var(--background-color) 100%);

    /**
    * Placeholder color for input boxes
    */
    --box-placeholder-color: var(--color-fg-default);

    /**
    * Author input (co-authors)
    */
    // --co-author-tag-background-color: var(--color-scale-blue-9);
    // --co-author-tag-border-color: var(--color-scale-blue-8);
    --co-author-tag-background-color: #{$blue-800};
    --co-author-tag-border-color: #{$blue-700};

    /**
     * Author input (co-authors)
     */
    --commit-warning-badge-background-color: #{$gray-000};
    --commit-warning-badge-border-color: #{$gray-300};
    --commit-warning-badge-icon-color: var(--warning-badge-icon-color);

    --win32-title-bar-background-color: #{$gray-900};

    --base-border: 1px solid var(--box-border-color);
    --contrast-border: 1px solid var(--box-border-contrast-color);

    --shadow-color: #{rgba(var(--color-scale-black), 0.5)};
    --base-box-shadow: var(--color-shadow-medium);

    --toolbar-background-color: var(--color-canvas-inset);
    --toolbar-border-color: var(--box-border-color);
    --toolbar-text-color: var(--text-color);
    --toolbar-text-secondary-color: var(--text-secondary-color);

    --toolbar-button-color: var(--toolbar-text-color);
    --toolbar-button-background-color: transparent;
    --toolbar-button-border-color: var(--box-border-color);
    --toolbar-button-secondary-color: var(--toolbar-text-secondary-color);

    --toolbar-button-hover-color: var(--color-scale-white);
    --toolbar-button-hover-background-color: var(--color-action-list-item-default-hover-bg);
    --toolbar-button-hover-border-color: var(--toolbar-button-border-color);

    --toolbar-button-focus-background-color: var(--color-action-list-item-default-hover-bg);

    --toolbar-button-active-color: var(--color-scale-white);
    --toolbar-button-active-background-color: var(--background-color);
    --toolbar-button-active-border-color: var(--background-color);

    --toolbar-button-progress-color: var(--color-action-list-item-default-hover-bg);
    --toolbar-button-focus-progress-color: pink;
    --toolbar-button-hover-progress-color: var(--color-neutral-muted);

    --toolbar-dropdown-open-progress-color: #{$gray-200};
    --toolbar-dropdown-text-warning-color: #{$yellow-700};
    --toolbar-dropdown-text-hover-color: #{$white};

    /**
      * App menu bar colors (Windows/Linux only)
      */
    --app-menu-button-color: var(--toolbar-text-color);
    --app-menu-button-hover-color: var(--toolbar-button-hover-color);
    --app-menu-button-hover-background-color: var(--toolbar-button-hover-background-color);
    --app-menu-button-active-color: var(--text-color);
    --app-menu-button-active-background-color: #{$gray-800};
    --app-menu-pane-color: var(--text-color);
    --app-menu-pane-secondary-color: var(--text-secondary-color);
    --app-menu-pane-background-color: #{$gray-800};
    --app-menu-divider-color: #{$gray-600};

    /**
    * Background color for badges inside of toolbar buttons.
    * Examples of badges are the ahead/behind bubble in the
    * push/pull button and the PR badge in the branch drop
    * down button.
    */
    --toolbar-badge-background-color: var(--color-neutral-muted);
    --toolbar-badge-active-background-color: var(--color-neutral-muted);

    --tab-bar-active-color: var(--color-accent-emphasis);
    --tab-bar-background-color: var(--color-canvas-subtle);
    --tab-bar-hover-background-color: var(--color-canvas-subtle);

    /** Count bubble colors when used inside of a tab bar item */
    --tab-bar-count-color: var(--color-btn-text);
    --tab-bar-count-background-color: var(--color-btn-counter-bg);

    /**
      * Badge colors when used inside of list items.
      * Example of this is the ahead/behind indicators inside
      * of the repository list.
      */
    --list-item-badge-color: var(--text-color);
    --list-item-badge-background-color: var(--color-neutral-muted);
    --list-item-selected-badge-color: var(--color-fg-on-emphasis);
    --list-item-selected-badge-background-color: var(--color-neutral-emphasis);
    --list-item-selected-active-badge-color: var(--color-canvas-default);
    --list-item-selected-active-badge-background-color: var(--color-fg-on-emphasis);
    --list-item-hover-background-color: var(--color-action-list-item-default-hover-bg);

    /**
    * Toast notifications are shown temporarily for things like the zoom
    * percentage changing or the app toggling between full screen and normal
    * window mode.
    */
    --toast-notification-color: var(--text-color);
    --toast-notification-background-color: #{rgba(black, 0.8)};

    --tip-box-background-color: #{rgba($blue-500, 0.06)};
    --tip-box-border-color: #{$blue-200};

    /** The highlight color used for focus rings and focus box shadows */
    --focus-color: var(--color-accent-emphasis);

    /**
    * Variables for form elements
    */
    --text-field-focus-shadow-color: var(--color-accent-muted);

    /**
    * Blankslate actions, see `BlankslateAction` component.
    */
    --primary-suggested-action-background: var(--color-scale-blue-9);//#{$blue-900};
    --primary-suggested-action-border-color: var(--color-scale-blue-7);//#{$blue-700};
    --suggested-action-icon-color: var(--color-scale-blue-4); //#{$blue-400};

    /**
    * Diff view
    */

    --diff-text-color: var(--text-color);
    --diff-border-color: var(--color-border-muted); //var(--color-scale-gray-8); //#{$gray-800};
    --diff-gutter-color: var(--color-border-muted); //var(--color-scale-gray-8); //#{$gray-800};
    --diff-gutter-background-color: var(--color-canvas-inset); //#{darken($gray-900, 3%)};

    --diff-line-number-color: var(--text-secondary-color);

    --diff-selected-background-color: var(--color-scale-blue-7); // #{$blue-700};
    --diff-selected-border-color: var(--color-scale-blue-6); // #{$blue-600};
    --diff-selected-gutter-color: var(--color-scale-blue-6); //#{$blue-600};
    --diff-selected-text-color: var(--diff-text-color);

    --diff-add-background-color: var(--color-diff-blob-addition-line-bg); //#{darken($green-900, 3%)};
    --diff-add-border-color: var(--color-success-muted); // #{darken($green-900, 2%)};
    --diff-add-gutter-color: var(--color-success-muted); //#{darken($green-900, 2%)};
    --diff-add-gutter-background-color: var(--color-success-subtle); //#{darken($green-900, 8%)};
    --diff-add-inner-background-color: var(--color-diff-blob-addition-word-bg); //#{$green-600};
    --diff-add-text-color: var(--diff-text-color);

    --diff-delete-background-color: var(--color-diff-blob-deletion-line-bg); //#{darken($red-900, 15%)};
    --diff-delete-border-color: var(--color-danger-muted); //#{darken($red-900, 10%)};
    --diff-delete-gutter-color: var(--color-danger-muted); //#{darken($red-900, 10%)};
    --diff-delete-gutter-background-color: var(--color-danger-subtle); //#{darken($red-900, 20%)};
    --diff-delete-inner-background-color: var(--color-diff-blob-deletion-word-bg); //#{$red-700};
    --diff-delete-text-color: var(--color-scale-red-0); //#{$red-100};

    --diff-hunk-background-color: var(--color-accent-subtle);//#{darken($gray-900, 3%)};
    --diff-hunk-border-color: pink;//#{lighten($gray-900, 3%)};
    --diff-hunk-gutter-color: red;//#{lighten($gray-900, 3%)};
    --diff-hunk-gutter-background-color: var(--color-accent-subtle);// #{darken($gray-900, 6%)};
    --diff-hunk-text-color: var(--text-secondary-color);

    --diff-hover-background-color: var(--color-scale-blue-5);// #{$blue-500};
    --diff-hover-border-color: var(--color-scale-blue-4);// #{$blue-400};
    --diff-hover-gutter-color: var(--color-scale-blue-4);//#{$blue-400};
    --diff-hover-text-color: var(--diff-text-color);

    --diff-add-hover-background-color: var(--color-success-emphasis);//#{$green-900};
    --diff-add-hover-border-color: var(--color-success-fg);// #{$green-700};
    --diff-add-hover-gutter-color: var(--color-success-fg);//#{$green-700};
    --diff-add-hover-text-color: var(--diff-text-color);

    --diff-delete-hover-background-color: var(--color-danger-emphasis);//#{$red-800};
    --diff-delete-hover-border-color: var(--color-danger-fg);//#{$red-700};
    --diff-delete-hover-gutter-color: var(--color-danger-fg);//#{$red-700};
    --diff-delete-hover-text-color: var(--diff-text-color);

    --diff-empty-row-background-color: var(--color-canvas-inset);// #{darken($gray-900, 1%)};
    --diff-empty-row-gutter-background-color: var(--diff-gutter-background-color);

    // Syntax highlighting text colors
    --syntax-variable-color: var(--color-scale-purple-3);//#{$purple-300};
    --syntax-alt-variable-color: var(--color-scale-blue-3);//#{$blue-300};
    --syntax-keyword-color: var(--color-scale-red-3);//#{$red-300};
    --syntax-atom-color: var(--color-scale-blue-3);// #{$blue-300};
    --syntax-string-color: var(--color-scale-orange-3);// #{$orange-300};
    --syntax-qualifier-color: var(--color-scale-purple-3);//#{$purple-300};
    --syntax-type-color: var(--color-scale-red-3);//#{$red-300};
    --syntax-comment-color: var(--color-scale-gray-4);// #{$gray-400};
    --syntax-tag-color: var(--color-scale-green-4);//#{$green-400};
    --syntax-attribute-color: var(--color-scale-purple-3);//#{$purple-300};
    --syntax-link-color: var(--color-scale-blue-3);//#{$blue-300};
    --syntax-header-color: var(--color-scale-red-3);// #{$red-300};

    // Colors for form errors
    --error-color: #{$red};
    --form-error-background: #{darken($red-900, 3%)};
    --form-error-border-color: #{$red-900};
    --form-error-text-color: var(--text-color);

    /** Overlay is used as a background for both modals and foldouts */
    --overlay-background-color: #{$overlay-background-color};

    /** Dialog */
    --dialog-warning-color: #{$yellow-600};
    --dialog-information-color: #{$blue-400};
    --dialog-error-color: #{$red-600};

    /** File warning */
    --file-warning-background-color: #{rgba($yellow-900, 0.4)};
    --file-warning-color: #{$yellow-700};
    --file-warning-border-color: #{rgba($yellow-800, 0.4)};

    /** Tooltips */
    --tooltip-background-color: #{$gray-800};
    --tooltip-color: #{$gray-100};
    --tooltip-shadow-color: #{$black};

    /** Inline paths and code */
    --path-segment-background: #{$red};
    --path-segment-background-focus: #{$red};

    .blankslate-image {
      filter: #{'invert()'} grayscale(1) brightness(8) contrast(0.6);
    }

    /** rebase progress bar */
    --dialog-progress-background: #{$green};

    /** merge/rebase status indicators */
    --status-pending-color: var(--color-attention-fg);
    --status-error-color: var(--color-severe-fg);
    --status-success-color: var(--color-success-fg);

    // PR status icon colors
    --pr-open-icon-color: var(--color-open-fg);
    --pr-draft-icon-color: var(--color-fg-muted);

    // PR review colors
    --pr-timeline-line-color: #{$gray-500};
    --pr-changes-requested-icon-color: #{$white};
    --pr-changes-requested-icon-background-color: #da3633;
    --pr-approved-icon-color: #{$white};
    --pr-approved-icon-background-color: #2da44e;
    --pr-commented-icon-color: #8b949e;
    --pr-commented-icon-background-color: #{$gray-700};

    --call-to-action-bubble-background-color: #{$blue};
    --call-to-action-bubble-color: #{$white};

    --title-tool-tip-background-color: rgb(56, 58, 62);
    --title-tool-tip-shadow: none;

    // Markdown colors
    --md-border-default-color: #30363d;
    --md-border-muted-color: #21262d;
    --md-canvas-default-color: #0d1117;
    --md-canvas-subtle-color: #161b22;
    --md-fg-default-color: #c9d1d9;
    --md-fg-muted-color: #8b949e;
    --md-danger-fg-color: #f85149;
    --md-neutral-muted-color: rgba(110, 118, 129, 0.4);
    --md-accent-emphasis-color: var(--color-accent-emphasis);// #1f6feb;
    --md-accent-fg-color: var(--color-accent-fg);//#58a6ff;

    ::backdrop {
      --overlay-background-color: #{$overlay-background-color};
    }
  }

  &.theme-dark-dimmed {
    --box-border-color: #141414;
  }
}

// this emulates the cursor for the co-author input because it isn't exactly
// an input element. credit for identify the right CSS class name goes to
// this post: https://css-tricks.com/snippets/css/solarized-theme-for-codemirror-and-prettify/
.CodeMirror-cursor {
  border-left-color: currentColor;
}
