// Variables
//
// This files contains CSS variables accessible to all selectors

// Primer colors, see https://github.com/primer/primer-css/blob/master/modules/primer-support/lib/variables/color-system.scss
@import '~primer-support/lib/variables/color-system.scss';

body.theme-dark {
  --color-new: $green;
  --color-deleted: $red;
  --color-modified: $yellow-700;
  --color-renamed: $blue;
  --color-conflicted: $orange;

  --text-color: $gray-900;
  --text-secondary-color: $gray-500;
  --text-tertiary-color: $gray-400;
  --background-color: $white;

  --button-background: $blue;
  --button-hover-background: lighten($blue, 5%);
  --button-text-color: $white;
  --button-focus-border-color: $blue-600;

  --link-button-color: $blue;

  --secondary-button-background: $gray-000;
  --secondary-button-hover-background: $white;
  --secondary-button-text-color: var(--text-color);
  --secondary-button-focus-shadow-color: rgba($gray-200, 0.75);
  --secondary-button-focus-border-color: $gray-300;

  /**
   * Background color for custom scroll bars.
   * The color is applied to the thumb part of the scrollbar.
   *
   * Note: Only applies to win32 platforms
   */
  --scroll-bar-thumb-background-color: rgba(0, 0, 0, 0.2);

  /**
   * Background color for custom scroll bars in their active state.
   * The color is applied to the thumb part of the scrollbar.
   *
   * Note: Only applies to win32 platforms
   */
  --scroll-bar-thumb-background-color-active: rgba(0, 0, 0, 0.5);

  // Box
  //
  // We use the term 'box' here to refer to a very high-level generic
  // component that fits many use cases. A 'box' might be a list item
  // or an item in a tab control header. It's up to each implementation
  // to decide what states to support (active selection, selection, etc).

  --box-alt-background-color: $gray-100;

  /**
   * Background color for skeleton or "loading" boxes
   */
  --box-skeleton-background-color: $gray-200;

  /**
   * Border color for boxes.
   */
  --box-border-color: $gray-200;
  --box-border-accent-color: $blue;

  /**
   * Background color for selected boxes without keyboard focus
   */
  --box-selected-background-color: #ebeef1;

  /**
   * Text color for when a user hovers over a boxe with a
   * pointing device. Should not be used by boxes that doesn't
   * implement a hover state since this will conflict with
   * selection and active selection
   */
  --box-hover-text-color: $gray-900;

  /**
   * Background color for when a user hovers over a boxe with a
   * pointing device. Should not be used by boxes that doesn't
   * implement a hover state since this will conflict with
   * selection and active selection
   */

  /**
   * Text color for selected boxes without keyboard focus
   */
  --box-selected-text-color: $gray-900;

  /**
   * Border color for selected boxes without keyboard focus
   */
  --box-selected-border-color: $gray-400;

  /**
   * Background color for selected boxes with active keyboard focus
   */
  --box-selected-active-background-color: $blue;

  /**
   * Text color for selected boxes with active keyboard focus
   */
  --box-selected-active-text-color: $white;

  /**
   * Border color for selected boxes with active keyboard focus
   */
  --box-selected-active-border-color: $gray-400;

  --base-border: 1px solid var(--box-border-color);

  --shadow-color: rgba(71, 83, 95, 0.19);
  --base-box-shadow: 0 2px 7px var(--shadow-color);

  --toolbar-background-color: $gray-900;
  --toolbar-text-color: $white;
  --toolbar-text-secondary-color: $gray-300;

  --toolbar-button-color: var(--toolbar-text-color);
  --toolbar-button-background-color: transparent;
  --toolbar-button-border-color: black;
  --toolbar-button-secondary-color: var(--toolbar-text-secondary-color);

  --toolbar-button-hover-color: $white;
  --toolbar-button-hover-background-color: $gray-800;
  --toolbar-button-hover-border-color: var(--toolbar-button-border-color);

  --toolbar-button-focus-background-color: $gray-800;

  --toolbar-button-active-color: var(--text-color);
  --toolbar-button-active-background-color: var(--background-color);
  --toolbar-button-active-border-color: var(--background-color);

  --toolbar-button-progress-color: $gray-800;
  --toolbar-button-focus-progress-color: $gray-700;
  --toolbar-button-hover-progress-color: $gray-700;
  --toolbar-dropdown-open-progress-color: $gray-200;

  --tab-bar-active-color: $blue;
  --tab-bar-background-color: $white;

  /** The highlight color used for focus rings and focus box shadows */
  --focus-color: $blue;

  /**
   * Variables for form elements
   */
  --text-field-focus-shadow-color: rgba($blue, 0.25);

  /**
   * Diff view
   */

  --diff-text-color: $gray-900;
  --diff-border-color: $gray-200;
  --diff-gutter-color: $gray-200;

  --diff-line-number-color: $gray-700;
  --diff-line-number-column-width: 50px;

  --diff-selected-background-color: $blue-400;
  --diff-selected-border-color: $blue-600;
  --diff-selected-gutter-color: $blue-600;
  --diff-selected-text-color: var(--background-color);

  --diff-add-background-color: darken($green-000, 2%);
  --diff-add-border-color: $green-300;
  --diff-add-gutter-color: $green-300;
  --diff-add-gutter-background-color: darken($green-100, 3%);
  --diff-add-inner-background-color: #acf2bd;
  --diff-add-text-color: var(--diff-text-color);

  --diff-delete-background-color: $red-000;
  --diff-delete-border-color: $red-200;
  --diff-delete-gutter-color: $red-200;
  --diff-delete-gutter-background-color: $red-100;
  --diff-delete-inner-background-color: #fdb8c0;
  --diff-delete-text-color: var(--diff-text-color);

  --diff-hunk-background-color: $blue-000;
  --diff-hunk-border-color: $blue-200;
  --diff-hunk-gutter-color: darken($blue-200, 5%);
  --diff-hunk-gutter-background-color: $blue-100;
  --diff-hunk-text-color: $gray;

  --diff-hover-background-color: $blue-300;
  --diff-hover-border-color: $blue-400;
  --diff-hover-gutter-color: $blue-400;
  --diff-hover-text-color: var(--background-color);

  --diff-add-hover-background-color: $green-300;
  --diff-add-hover-border-color: $green-400;
  --diff-add-hover-gutter-color: $green-400;
  --diff-add-hover-text-color: var(--text-color);

  --diff-delete-hover-background-color: $red-200;
  --diff-delete-hover-border-color: $red-300;
  --diff-delete-hover-gutter-color: $red-300;
  --diff-delete-hover-text-color: var(--text-color);

  /**
   * Ahead/behind view
   */
  --ahead-behind-background-color: $gray-500;

  // Colors for form errors
  --error-color: $red;
  --form-error-background: $red-100;
  --form-error-border-color: $red-200;
  --form-error-text-color: $red-800;

  /** Dialog */
  --dialog-warning-color: $yellow-600;
  --dialog-warning-text-color: $yellow-800;
  --dialog-error-color: $red;

  /** Inline paths and code */
  --path-segment-background: $blue-000;
}
