body.theme-high-contrast {
  // A small set of colors used to flatten ux and improve contrast
  --hc-background-color: #090c11;
  --hc-secondary-background-color: #323946;
  --hc-border-color: #7a828e;
  --hc-text-color: #f0f3f6;
  --hc-active-item-color: #9ea7b3;
  --hc-secondary-active-item-color: #596069;
  --hc-active-text-color: #090c11;
  --hc-diff-add-border-color: green;
  --hc-diff-delete-border-color: crimson;

  // background/text
  --background-color: var(--hc-background-color);
  --text-color: var(--hc-text-color);
  --text-secondary-color: var(--hc-text-color);

  //border
  --hc-hover-border: 2px solid var(--hc-border-color);

  /// tab-bar
  --tab-bar-active-color: var(--hc-active-item-color);
  --tab-bar-hover-background-color: var(--hc-secondary-background-color);

  // box
  --box-selected-active-border: var(--hc-hover-border);
  --box-background-color: var(--hc-background-color);
  --box-alt-background-color: var(--hc-background-color);
  --box-border-color: var(--hc-border-color);
  --box-selected-background-color: var(--hc-secondary-active-item-color);
  --box-selected-text-color: var(--hc-active-text-color);
  --box-selected-active-background-color: var(--hc-active-item-color);
  --box-selected-active-text-color: var(--hc-active-text-color);
  --box-placeholder-color: var(--hc-text-color);

  // button
  --button-background: var(--hc-active-item-color);
  --button-text-color: var(--hc-active-text-color);
  --secondary-button-background: var(--hc-background-color);
  --secondary-button-text-color: var(--hc-text-color);
  --button-hover-background: var(--hc-secondary-active-item-color);
  --secondary-button-hover-background: var(--hc-secondary-background-color);

  // menu
  --app-menu-button-hover-background-color: var(--hc-secondary-background-color);

  // toolbar
  --toolbar-button-focus-background-color: var(--hc-secondary-background-color);
  --toolbar-button-hover-background-color: var(--hc-secondary-background-color);
  --toolbar-button-active-border-color: var(--hc-border-color);
  --toolbar-background-color: var(--hc-background-color);
  --toolbar-button-secondary-color: var(--hc-text-color);

  // list
  --list-item-hover-background-color: var(--hc-secondary-active-item-color);

  // diff
  --hc-diff-add-border: 1px solid var(--hc-diff-add-border-color);
  --hc-diff-delete-border: 1px solid var(--hc-diff-delete-border-color);

  --diff-hunk-gutter-background-color: var(--hc-background-color);
  --diff-text-color: var(--hc-text-color);
  --diff-line-number-color: var(--hc-text-color);
  --diff-gutter-background-color: var(--hc-background-color);
  --diff-hunk-background-color: var(--hc-background-color);
  --diff-empty-row-background-color: var(--hc-secondary-background-color);
  --diff-border-color: var(--hc-border-color);
}
