body.theme-high-contrast {
  // A small set of colors used to flatten ux and improve contrast
  --hc-background: #090c11;
  --hc-secondary-background: #323946;
  --hc-border: #7a828e;
  --hc-text: #f0f3f6;
  --hc-active-item: #9ea7b3;
  --hc-secondary-active-item: #596069;
  --hc-active-text: #090c11;

  // background/text
  --background-color: var(--hc-background);
  --text-color: var(--hc-text);
  --text-secondary-color: var(--hc-text);

  /// tab-bar
  --tab-bar-hover-border: 2px solid var(--hc-border) !important;
  --tab-bar-item-border: 2px solid var(--hc-background);
  --tab-bar-box-shadow: inset 0 -3px 0px var(--tab-bar-active-color);
  --tab-bar-hover-background-color: var(--hc-secondary-background);
  --tab-bar-active-color: var(--hc-active-item);
  --horizontal-bar-active-color: var(--hc-active-item);
  --horizontal-bar-active-text-color: var(--hc-active-text);

  // box
  --box-selected-active-border: 2px solid var(--hc-border);
  --box-background-color: var(--hc-background);
  --box-alt-background-color: var(--hc-background);
  --box-alt-text-color: var(--hc-active-text);
  --box-border-color: var(--hc-border);
  --box-selected-background-color: var(--hc-secondary-active-item);
  --box-selected-text-color: var(--hc-active-text);
  --box-selected-active-background-color: var(--hc-active-item);
  --box-selected-active-text-color: var(--hc-active-text);
  --box-placeholder-color: var(--hc-text);

  // button
  --button-background: var(--hc-active-item);
  --button-text-color: var(--hc-active-text);
  --secondary-button-background: var(--hc-background);
  --secondary-button-text-color: var(--hc-text);
  --button-hover-background: var(--hc-secondary-active-item);
  --secondary-button-hover-background: var(--hc-secondary-background);
  --secondary-button-hover-border-width: 2px;

  // menu
  --app-menu-button-hover-background-color: var(--hc-secondary-background);
  --foldout-border: 1px solid var(--hc-border);

  // toolbar
  --toolbar-button-focus-background-color: var(--hc-secondary-background);
  --toolbar-button-hover-background-color: var(--hc-secondary-background);
  --toolbar-button-active-border-color: var(--hc-border);
  --toolbar-background-color: var(--hc-background);
  --toolbar-button-secondary-color: var(--hc-text);

  // list
  --list-item-hover-background-color: var(--hc-secondary-active-item);
  --list-item-hover-text-color: var(--hc-active-text);
  --list-item-hover-border: 2px solid var(--hc-border);
  --list-item-hover-text-color: var(--text-color);

  // diff
  --diff-add-border: 1px solid green;
  --diff-delete-border: 1px solid crimson;
  --diff-hunk-gutter-background-color: var(--hc-background);
  --diff-text-color: var(--hc-text);
  --diff-line-number-color: var(--hc-text);
  --diff-gutter-background-color: var(--hc-background);
  --diff-hunk-background-color: var(--hc-background);
  --diff-empty-row-background-color: var(--hc-secondary-background);
  --diff-border-color: var(--hc-border);
}
