// Variables
//
// This files contains CSS variables accessible to all selectors

:root {

  // Colors
  //
  // These are declared here to let us avoid duplicating color constants
  // in variables. It also makes it easier to read and understand what
  // color is being used. Note that these variables should _never_ be
  // used outside of this scope.
  $blue: #4ca6eb;
  $orange: #c9510c;
  $yellow: #d0b44c;
  $red: #d0b44c;
  $green: #6cc644;
  $darkGray: #5f717f;
  $gray: #ccc;
  $lightGray: #f9f9f9;
  $white: #fff;

  --color-new: $green;
  --color-removed: $red;
  --color-modified: $yellow;

  --text-color: $darkGray;
  --background-color: $white;


  --button-background: $lightGray;
  --button-hover-background: $white;

  // Typography
  //
  // Font, line-height, and color for body text, headings, and more.
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /**
   * Font weight to use for semibold text
   */
  --font-weight-semibold: 600;

  /**
   * Font weight to use for light text
   */
  --font-weight-light: 300;

  // Pixel value used to responsively scale all typography. Applied to the `<html>` element.
  --font-size: 13px;
  --font-size-sm: 11px;
  --font-size-md: 16px;
  --font-size-xl: 32px;

  /**
   * Background color for custom scroll bars.
   * The color is applied to the thumb part of the scrollbar.
   *
   * Note: Only applies to win32 platforms
   */
  --scroll-bar-thumb-background-color: rgba(0, 0, 0, 0.2);

  /**
   * Background color for custom scroll bars in their active state.
   * The color is applied to the thumb part of the scrollbar.
   *
   * Note: Only applies to win32 platforms
   */
  --scroll-bar-thumb-background-color-active: rgba(0, 0, 0, 0.5);

  // Box
  //
  // We use the term 'box' here to refer to a very high-level generic
  // component that fits many use cases. A 'box' might be a list item
  // or an item in a tab control header. It's up to each implementation
  // to decide what states to support (active selection, selection, etc).

  --box-alt-background-color: $lightGray;

  /**
   * Border color for boxes.
   */
  --box-border-color: $gray;
  --box-border-accent-color: $blue;
  --box-border-light-color: #DFDFDF;

  /**
   * Background color for selected boxes without keyboard focus
   */
  --box-selected-background-color: $lightGray;

  /**
   * Text color for selected boxes without keyboard focus
   */
  --box-selected-text-color: $darkGray;

  /**
   * Border color for selected boxes without keyboard focus
   */
  --box-selected-border-color: $darkGray;

  /**
   * Background color for selected boxes with active keyboard focus
   */
  --box-selected-active-background-color: $orange;

  /**
   * Text color for selected boxes with active keyboard focus
   */
  --box-selected-active-text-color: $lightGray;

  /**
   * Border color for selected boxes with active keyboard focus
   */
  --box-selected-active-border-color: $darkGray;

  /** The height of the title bar area on Win32 platforms */
  --win32-title-bar-height: 30px;

  /** The height of the title bar area on darwin platforms */
  --darwin-title-bar-height: 37px;

  --spacing: 10px;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-third: calc(var(--spacing) / 3);

  --border-radius: 3px;
  --base-border: 1px solid var(--box-border-color);
  --light-border: 1px solid var(--box-border-light-color);

  --shadow-color: rgba(0,0,0,0.07);
  --base-box-shadow: 0 1px 2px var(--shadow-color);

  --tab-bar-active-color: #3D76C2;
  --tab-bar-background-color: #EDEDED;

  /** Win32 has custom scrol bars, see _scroll.scss */
  --win32-scroll-bar-size: 10px;

  /**
   * The z-index for popups. Nothing should be higher, but other z-indexes can
   * be defined in terms of it.
   */
  --popup-z-index: 2;

  /** The highlight color used for focus rings and focus box shadows */
  --focus-color: $orange;

  /**
   * Diff view
   */

  --diff-border-color: #e5e5e5;
  --diff-line-number-color: #84929c;
  --diff-line-number-column-width: 50px;

  --diff-selected-background-color: #5A93E0;
  --diff-selected-border-color: #4f86d5;
  --diff-selected-text-color: var(--background-color);

  --diff-add-background-color: #EAFFEA;
  --diff-add-border-color: #b3e3b2;
  --diff-add-text-color: $gray;

  --diff-delete-background-color: #FFECEC;
  --diff-delete-border-color: #eaaead;
  --diff-delete-text-color: $gray;

  --diff-hunk-background-color: #f8f8ff;
  --diff-hunk-border-color: #e4e4fe;
  --diff-hunk-text-color: var(--diff-line-number-color);

  --diff-hover-background-color: #96b8ec;
  --diff-hover-border-color: #89a9dc;
  --diff-hover-text-color: var(--background-color);
}
