.blankslate-action {
  border: var(--base-border);
  border-bottom: 0;
  padding: var(--spacing-double);
  display: flex;
  flex-direction: row;
  align-items: center;

  &:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-bottom: var(--base-border);
  }

  &.primary {
    background: var(--primary-blankslate-action-background);
    border-color: var(--primary-blankslate-action-border-color);
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: var(--spacing-double);
  }

  h2 {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-weight: var(--font-weight-semibold);
  }

  p.description {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    margin-bottom: var(--spacing-half);
  }

  p.discoverability {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    color: var(--text-secondary-color);
  }

  .button-component {
    flex-shrink: 0;
  }
}
