.changed-file {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;

  .header {
    span {
      user-select: text;
    }

    background: var(--box-alt-background-color);
    border-bottom: 1px solid var(--diff-border-color);

    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;

    padding: var(--spacing-half) var(--spacing);

    @include octicon-status;

    .octicon {
      flex-shrink: 0;
      vertical-align: text-bottom;
      position: relative;
      top: 1px;
      align-self: center;
    }

    .line-endings {
      margin-right: var(--spacing-half);
    }

    .open-merge-tool {
      margin-right: var(--spacing-half);
    }
  }

  .panel {
    display: flex;
    flex: 1;

    &.empty,
    &.renamed,
    &.binary {
      justify-content: center;
      align-items: center;
    }
    &.large-diff {
      margin: var(--spacing-double);
      text-align: center;
      justify-content: initial;

      .blankslate-image {
        max-height: 150px;
      }
    }
  }
}

.diff-wrapper {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}
