.changed-file {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.changed-file-details {
  flex-grow: 1;
  min-width: 0;
}

.diff-wrapper {
  display: flex;
  flex-grow: 1;
  min-width: 0;
}
