@import '../../mixins';

#changes-list {
  min-height: 0;
}

/** A React component holding the currently selected repository's changes */
.changes-list-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .list-focus-container.focus-within {
    .list-item.selected {
      .icon {
        fill: currentColor;
      }
    }
  }

  .stashed-changes-row {
    @include list-item;

    display: flex;
    flex-grow: 1;
    padding: 0 var(--spacing);
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: var(--base-border);

    .icon {
      fill: var(--color-modified);
    }

    .text {
      flex-grow: 1;
      margin: 0 var(--spacing-half);
    }

    .octicon {
      flex-shrink: 0;
    }
  }

  .header {
    background: var(--box-alt-background-color);
    border-bottom: 1px solid var(--box-border-color);
    padding: 0 var(--spacing);
    height: 29px;

    .checkbox-component {
      align-items: center;
      height: 100%;
      position: relative;

      // We want the label to be positioned center with regards to the entire
      // header so we position it absolute in relation to the checkbox component
      // and give it a 100% width with padding on each side as to balance it out
      // while still providing enough space for the checkbox.
      label {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 30px;
        text-align: center;

        @include ellipsis;
      }

      input[type='checkbox'] {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }
}

.undo-enter {
  max-height: 0;
  overflow: hidden;
}

.undo-enter.undo-enter-active {
  // It doesn't really matter what `maxHeight` we set here so long as it's
  // greater than or equal to the height that `UndoCommit` will want.
  max-height: 200px;

  transition: max-height var(--undo-animation-duration) ease-in;
}

.undo-leave {
  max-height: 200px;
}

.undo-leave.undo-leave-active {
  max-height: 0;

  transition: max-height var(--undo-animation-duration) ease-out;
}
