.changes-interstitial {
  padding: var(--spacing-quad);
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  .interstitial-header {
    display: flex;
    flex-direction: row;

    .text {
      flex-grow: 1;
      margin-right: var(--spacing-double);

      h1 {
        padding: 0;
        margin: 0;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-light);
      }

      p {
        margin: 0;
      }
    }

    .blankslate-image {
      flex: 0;
      height: 70px;
      width: 73px;
      min-width: 70px;
      min-height: 73px;
      align-self: flex-end;
    }

    margin-bottom: var(--spacing-double);
  }

  .content {
    width: 100%;
    max-width: 600px;
  }

  .pull-request-action {
    .dropdown-select-button {
      .invoke-button {
        min-width: 150px;
      }
    }
  }

  /** Lessen the padding at 1.5x zoom and above  **/
  @media screen and (max-width: 640px) {
    padding: var(--spacing-double);
  }

  /** Hide the blankslate image at high zoom levels **/
  @media screen and (max-width: 550px) {
    .header .blankslate-image {
      display: none;
    }
  }
}
