#no-changes {
  display: flex;
  flex-direction: column;
}

#no-changes.ng {
  padding: var(--spacing-quad);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    flex-direction: row;

    .text {
      flex-grow: 1;
      margin-right: var(--spacing-double);

      h1 {
        padding: 0;
        margin: 0;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-light);
      }

      p {
        margin: 0;
      }
    }

    .blankslate-image {
      flex: 0;
      height: 74px;
      width: 74px;
      min-width: 74px;
      min-height: 74px;
      align-self: flex-end;
    }

    margin-bottom: var(--spacing-double);
  }

  .content {
    width: 100%;
    max-width: 600px;
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

  .action {
    border: var(--base-border);
    border-bottom: 0;
    padding: var(--spacing-double);
    display: flex;
    flex-direction: row;
    align-items: center;

    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      border-bottom: var(--base-border);
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-right: var(--spacing-double);
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: var(--font-size);
      font-weight: var(--font-weight-semibold);
    }

    p {
      margin: 0;
      padding: 0;
      font-size: var(--font-size);
      color: var(--text-secondary-color);
    }

    .button-component {
      flex-shrink: 0;
    }
  }
}
