#no-changes {
  padding: var(--spacer-6);
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;

  .header {
    display: flex;
    flex-direction: row;

    .text {
      flex-grow: 1;
      margin-right: var(--spacer-4);

      h1 {
        padding: 0;
        margin: 0;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-light);
      }

      p {
        margin: 0;
      }
    }

    .blankslate-image {
      flex: 0;
      height: 70px;
      width: 73px;
      min-width: 70px;
      min-height: 73px;
      align-self: flex-end;
    }

    margin-bottom: var(--spacer-4);
  }

  .content {
    width: 100%;
    max-width: 600px;
  }

  /** Lessen the padding at 1.5x zoom and above  **/
  @media screen and (max-width: 640px) {
    padding: var(--spacer-4);
  }

  /** Hide the blankslate image at high zoom levels **/
  @media screen and (max-width: 550px) {
    .header .blankslate-image {
      display: none;
    }
  }
}
