#oversized-files {
  .dialog-content {
    max-height: 305px;

    .files-list {
      max-height: 175px;
      overflow-y: auto;
      font-family: var(--font-family-monospace);
      margin-bottom: var(--spacing);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding-left: 0;
          margin-bottom: 0;
        }
      }
    }

    .recommendation {
      -webkit-margin-after: 0.5em;
    }
  }
}
