@import '../../mixins';

/** A React component holding the commit message entry */
#protected-branch {
  border-top: 1px solid var(--box-border-color);
  flex-direction: column;
  flex-shrink: 0;
  margin-top: auto;

  display: flex;
  background-color: var(--box-alt-background-color);
  padding-top: var(--spacing);

  .warning-message {
    margin-bottom: 0;
    text-align: center;
    color: var(--text-secondary-color);

    strong {
      color: var(--text-color);
      word-wrap: break-word;
    }
  }

  .protected-branch-icon-container {
    height: 20px;
    position: relative;
    text-align: center;

    .protected-branch-icon {
      color: var(--status-pending-color);

      background: var(--box-alt-background-color);
      border-width: 0 var(--spacing-half);
      border: solid transparent;
      box-sizing: content-box;
      position: relative;
      z-index: 1;
    }

    &:after {
      display: block;
      border-bottom: var(--base-border);
      content: '';
      position: absolute;
      z-index: 0;
      display: block;
      width: 100%;
      top: var(--spacing);
    }
  }

  .commit-button {
    max-width: 100%;
    margin-top: var(--spacing);
    display: flex;
    justify-content: center;
    align-items: center;

    .octicon {
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: var(--spacing-half);
    }

    /* Due to some weirdo bug in Chrome that affects Windows
     * and possible other platforms we can't change the opacity
     * for disabled buttons if the button also has a
     * overflow: hidden property set. The workaround is to put
     * the contents of the button in a block element and put
     * ellipsis on that instead. See commit 67fad24ed
     */
    > span {
      @include ellipsis;
    }
  }
}
