.submodule-diff {

  .item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 3px;
    margin-bottom: 1em;

    .content {
      font-size: var(--font-size-md);
      flex: 1;
    }

    .octicon {
      margin-top: 2px;

      &.info-icon {
        color: var(--dialog-information-color);
      }

      &.modified-icon {
        color: var(--color-modified);
      }

      &.untracked-icon {
        color: var(--color-deleted);
      }
    }
  }
}
