# these folders contain scripts to add enhance the code coverage reports and are
# already ignored by .gitignore but because they live under app and script they
# will be included when linting unless they are excluded here
app/coverage
script/coverage
