out/
dist/
vendor/
eslint-rules/*.js
eslint-rules/types/*.js
tslint-rules/*.js
npm-debug.log
yarn-error.log
.DS_Store
.awcache
.idea/
.eslintcache
app/coverage
app/static/common
app/test/fixtures
gemoji
*.json
*.md
