.toolbar-button {

  // Make sure the contents shrink beyond their intrinsic width
  // See https://css-tricks.com/flexbox-truncated-text/
  min-width: 0;

  // General button behavior, mostly resets.
  // For the button content styling see second button style. Note that we
  // explicitly use > here to only target the direct descendant button since
  // there might be buttons in foldouts which would otherwise be affected
  // as well.
  &>button {
    // Reset styles from global buttons
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    text-align: left;
    margin: 0;
    padding: 0;

    &:active { box-shadow: none; }

    &:focus {
      outline: none;
      border-color: var(--toolbar-button-border-color);
      background-color: var(--toolbar-button-hover-background-color);
    }

    &:not(:disabled):hover {
      background-color: var(--toolbar-button-hover-background-color);
      color: var(--toolbar-button-hover-color);
      border-color: var(--toolbar-button-hover-border-color);

      .description {
        color: var(--toolbar-button-secondary-color);
      }
    }

    height: 100%;
    width: 100%;
  }

  &>button {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: var(--spacing);
    margin: 0;
    overflow: hidden;

    background-color: var(--toolbar-button-background-color);
    color: var(--toolbar-button-color);

    border-right: 1px solid var(--toolbar-button-border-color);

    .icon {
      flex-shrink: 0;
      margin-right: var(--spacing);
    }

    .dropdownArrow {
      width: 9px;
      height: 12px;
      flex-shrink: 0;
    }

    .text {
      display: flex;
      flex-direction: column-reverse;
      flex-grow: 1;
      min-width: 0;
      margin-right: var(--spacing);
    }

    .title {
      font-weight: var(--font-weight-semibold);
    }

    .description {
      color: var(--toolbar-button-secondary-color);
      font-size: var(--font-size-sm);
    }

    .title, .description { @include ellipsis }
  }

  &.dropdown.open {
    &>button {
      color: var(--toolbar-button-active-color);
      background-color: var(--toolbar-button-active-background-color);

      // The foldout doesn't have a border so we have to either
      // color ours or remove it entirely for us to match the
      // min-width of the foldout.
      border-color: var(--toolbar-button-active-border-color);
    }
  }
}
