.toolbar-button {
  -webkit-appearance: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: var(--spacing);
  margin: 0;
  overflow: hidden;

  // Reset styles from global buttons
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  text-align: left;

  &:not(:disabled):hover {
    background-color: var(--box-hover-background-color);
    color: var(--box-hover-text-color);
  }

  &.active,&:active {
    background-color: var(--box-selected-background-color);
    color: var(--box-selected-text-color);
  }

  .octicon {
    margin-right: var(--spacing);
  }

  .text {
    display: flex;
    flex-direction: column-reverse;
  }

  .title {
    font-weight: var(--font-weight-semibold);
  }

  .description {
    color: var(--text-secondary-color);
    font-size: var(--font-size-sm);
  }
}
