.toolbar-button {
  -webkit-appearance: none;

  color: var(--button-text-color);

  // Reset styles from global buttons
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  text-align: left;
  margin: 0;
  padding: 0;

  // Reset
  &:active { box-shadow: none; }

  border-right: 1px solid var(--box-border-color);

  // NB This is important, without this the button
  // element will add an extra 3px of invisible padding
  // for some inexplicable reason. This forces the
  // button to take up the entire available space.
  &,&-content-wrapper {
    height: 100%;
  }

  &-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: var(--spacing);
    margin: 0;
    overflow: hidden;
  }

  &:not(:disabled):hover {
    background-color: var(--box-hover-background-color);
    color: var(--box-hover-text-color);
  }

  &.dropdown.open {
    background-color: var(--box-selected-background-color);
    color: var(--box-selected-text-color);
  }

  .icon {
    margin-right: var(--spacing);
  }

  .dropdownArrow {
    width: 9px;
    height: 12px;
  }

  .text {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    min-width: 0;
  }

  .title {
    font-weight: var(--font-weight-semibold);
  }

  .description {
    color: var(--text-secondary-color);
    font-size: var(--font-size-sm);
  }

  .title, .description { @include ellipsis }

  // @TODO: Proper focus state
  &:focus {
    outline: none;
    border-color: var(--box-border-color);
  }
}
