@import "../../mixins";

/** A React component holding the main application toolbar component. */
#desktop-app-toolbar {
  height: var(--toolbar-height);

  display: flex;
  flex-direction: row;

  flex-grow: 0;
  flex-shrink: 0;

  /* See https://css-tricks.com/flexbox-truncated-text/
   * We need to do this "hack" or else the container will
   * always grow to fit the intrinsic width of its children
   * and thus killing our text truncation in the title.
   */
  min-width: 0;

  color: var(--toolbar-text-color);
  background-color: var(--toolbar-background-color);

  .sidebar-section {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

    .toolbar-button:last-child {
      flex-grow: 1;
    }
  }

  .toolbar-button {
    &.branch-button { width: 220px; }
    &.push-pull-button { min-width: 200px; }
  }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.spin {
  animation:spin 1s linear infinite;
}

.ahead-behind {
  display: flex;

  margin-left: var(--spacing);
  background: var(--ahead-behind-background-color);

  // Perfectly round semi circle ends with real tight
  // padding on either side
  height: 16px;
  border-radius: 8px;
  padding: 0 6px;

  font-size: var(--font-size-xs);

  span {
    display: flex;
    align-items: center;

    // Only add left margin if both ahead and behind are
    // showing at the same time.
    &:nth-child(2) { margin-left: var(--spacing-third); }

    // We're using arrowSmallUp and arrowSmallDown which are
    // both exactly 6px wide. Let's use that so that spacing
    // gets easier to reason about.
    .octicon {
      width: 6px;
      margin-left: var(--spacing-third);
    }
  }
}
