@import "../mixins";

/** A React component holding the currently selected repository's changes */
#changes-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  border-style: solid;

  overflow-y: scroll;
}

#changes-list ul {
  list-style-type: none;
  margin-top: 0px;
}

#changes-list li {
  margin-left: -35px;
  white-space: nowrap;
}

#changes-list #select-all input[type=checkbox] {
  margin-left: 9px;
  margin-top: 10px;
}
