@import "../mixins";

/** A React component holding the commit message entry */
#commit-message {
  border-top: 1px solid var(--input-border-color);
  flex-direction: row;
  margin-top: auto;
}

.commit-form {
  background-color: #f9f9f9;
  padding: var(--spacing);
  width: 100%;
}

.commit-form-avatar {
  border-radius: var(--border-radius);
  margin-right: var(--spacing);
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-figure {
  margin-right: var(--spacing);
}

.media-body {
  flex-grow: 1;
}
