input[type='text'],
input[type='date'],
input[type='email'],
input[type='range'],
input[type='search'],
textarea {
  transition: all 0.25s;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  color: currentColor;
  font-size: var(--font-size);
  margin-bottom: var(--spacing);
  padding: calc(var(--spacing) / 2);

  &:focus {
    border-color: var(--input-border-hover-color);
  }
}

textarea {
  min-height: 100px;
}
