.list {

  // The list-virtualized class is a specialization of list that uses
  // GPU transforms and other techniques to minimize the number of DOM
  // elements needed to visualize the list in the current viewport.
  &-virtualized {

    overflow: auto;
    transform: translate3d(0, 0, 0);

    .list-item { position: fixed; }
  }
}

.list-item {

  background-color: var(--background-color);

  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;

  &.selected {
    color: var(--list-item-selected-text-color);
    background-color: var(--list-item-selected-background-color);

    &:focus {
      color: var(--list-item-selected-focused-text-color);
      background-color: var(--list-item-selected-focused-background-color);      
    }
  }

}
