#repository-list {

  .repository-list-item {

    padding: 0 5px 0 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    .octicon {
      margin-right: 5px;
      flex-shrink: 0;
    }

    .name {
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
