.segmented-control-item {
  --border-radius: 5px;

  border: 1px solid var(--text-color);
  border-right-width: 0;
  padding: 5px 20px;

  &:first-child {
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
  }

  &:last-child {
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    border-right-width: 1px;
  }

  &.selected {
    background-color: var(--box-selected-background-color);
    color: var(--box-selected-text-color);
  }
}
