@import '../mixins/platform';

#desktop-app-sidebar {
  width: 270px;

  min-width: 200px;
  max-width: 330px;

  display: flex;
  flex-direction: column;

  // TODO: I'm not sure if it should be the job of the sidebar
  // to add margin to the repository view but it'll have to do
  // for now.
  margin-right: 20px;

  // Custom color scheme for the sidebar
  //
  // See _variables.scss for documentation on the variables themselves.
  --text-color: #ccc;
  --background-color: #333;

  --scroll-bar-thumb-background-color: rgba(255, 255, 255, 0.2);
  --scroll-bar-thumb-background-color-active: rgba(255, 255, 255, 0.5);

  --list-item-selected-background-color: #696969;
  --list-item-selected-text-color: #f9f9f9;

  // Set up inheritance of foreground/background.
  //
  // Elements without an explicitly declared property inherit the
  // resolved value of variables from parents, not the indirect
  // reference so we need to explictly set these whenever we change
  // the variables.
  color: var(--text-color);
  background-color: var(--background-color);

  // This is for the absolutely positioned resize handle
  position: relative;

  .resize-handle {
    position: absolute;
    right: -5px;
    top: 0px;
    height: 100%;
    width: 10px;
    cursor: ew-resize;
  }
}

/* Sidebar negative margin hackery
 *
 * On Windows and macOS we add an artificial title bar
 * at the top of the window. This title bar is transparent
 * and has no custom styling (currently) so we want the
 * sidebar to look like it's extending all the way up to the
 * top edge of the window.
 *
 * The way we do this is by applying a negative margin equal
 * to the height of the title bar _and_ a subsequent padding
 * to render the contents of the sidebar underneath the title
 * bar.
 */

body.platform-darwin:not(.fullscreen) {
  #desktop-app-sidebar {
    margin-top: calc(var(--darwin-title-bar-height) * -1);
    padding-top: var(--darwin-title-bar-height);
  }
}

body.platform-win32:not(.fullscreen) {
  #desktop-app-sidebar {
    margin-top: calc(var(--win32-title-bar-height) * -1);
    padding-top: var(--win32-title-bar-height);
  }
}
