@import "../mixins";

/** A React component holding the toolbar */
#toolbar {
  display: flex;
  flex-direction: column;
  height: 34px;
  align-items: center;

  /** A React component holding the tab bar */
  .tab-bar {
    font-size: 12px;
  }

  .tab-bar-item {
    background: #EBEBEB;
    padding: 5px 10px;
    margin-right: 1px;

    &:first-child {
      border-radius: 3px 0px 0px 3px;
    }

    &:last-child {
      border-radius: 0px 3px 3px 0px;
    }
  }

  .tab-bar-item-selected {
    background-color: #3D76C2;
    color: #fff;
  }
}
