out/
dist/
vendor/
tslint-rules/*.js
npm-debug.log
yarn-error.log
.DS_Store
.awcache
.idea/
.eslintcache
app/coverage
script/coverage
playwright-videos
app/static/common
app/test/fixtures
gemoji
*.md
app/static/logos/prod/**/*.json
app/static/logos/dev/**/*.json
