@import '../../mixins';

/** A React component holding history's commit list */
#commit-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  .commit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    border-bottom: var(--base-border);

    padding: 0 var(--spacer-2);

    .info {
      display: flex;
      flex-direction: column;
      margin-top: -4px;
      overflow: hidden;
      width: 100%;

      .description {
        display: flex;
        flex-direction: row;
        margin-top: 3px;
      }

      .summary {
        font-weight: var(--font-weight-semibold);
      }

      .summary,
      .byline {
        @include ellipsis;
      }
    }
  }
}
