@import "../../mixins";

/** A React component holding the selected commit's detailed information */
#commit-summary {
}

.commit-summary {
  &-title,
  &-meta {
    padding: var(--spacing);
  }

  &-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light);
    padding: var(--spacing);
    word-wrap: break-word;
  }

  // Enable text selection inside the title and description elements.
  // The span descendant selector is necessary since both title and
  // description is EmojiText components which renders all text inside
  // of a <span>.
  &-title span,
  &-description span {
    -webkit-user-select: auto;
    user-select: auto;
    cursor: text;
  }

  &-description {
    border-bottom: var(--base-border);
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-sm);
    padding: var(--spacing);
    word-wrap: break-word;
    white-space: pre-line;

    // Temporary workaround for long commit messages.
    // The long term solution here will be a
    // read-more/expand link.
    max-height: 60px;
    overflow: scroll;

    &:empty {
      display: none;
    }
  }

  &-meta {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 var(--spacing) var(--spacing);
  }

  &-meta-item {
    @include ellipsis;
    flex: 1 0 max-content;
    margin-right: var(--spacing);
    font-size: var(--font-size-sm);

    .octicon {
      margin-right: var(--spacing-third);
      vertical-align: bottom;
    }
  }

  &-header {
    border-bottom: var(--base-border);
  }
}
