@import "../../mixins";

/** A React component holding the selected commit's detailed information */
#commit-summary {
  .avatar {
    width: 16px;
    height: 16px;

    border-radius: var(--border-radius);
  }
}

.commit-summary {
  &-title,
  &-meta {
    padding: var(--spacing);
  }

  &-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light);
    padding: var(--spacing);
    word-wrap: break-word;
  }

  // Enable text selection inside the title and description elements.
  &-title,
  &-description {
    span, a {
      -webkit-user-select: text;
      user-select: text;
    }
    span { cursor: text; }
  }

  &-description {
    flex: 1;
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-sm);
    word-wrap: break-word;
    white-space: pre-line;

    &:empty {
      display: none;
    }

    &-container {
      border-bottom: var(--base-border);
      display: flex;
      padding: var(--spacing);
      // Temporary workaround for long commit messages.
      // The long term solution here will be a
      // read-more/expand link.
      max-height: 60px;
      // We want overflow hidden when the description is collapsed to prevent
      // scrollbars from appearing
      overflow: hidden;
    }

  }

  &-meta {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 var(--spacing) var(--spacing);
  }

  &-meta-item {
    @include ellipsis;
    margin-right: var(--spacing);
    font-size: var(--font-size-sm);

    .avatar,
    .octicon {
      display: inline-block;
      margin-right: var(--spacing-third);
      vertical-align: bottom; // For some reason, `bottom` places the text in the middle
    }
  }

  &-header {
    border-bottom: var(--base-border);
  }
}

.commit-expand-button {
  display: block;
  text-align: right;

  .octicon {
    margin-right: var(--spacing-half);
    vertical-align: middle;
  }
}
