@import '../../mixins';

/** A React component holding the selected commit's detailed information */
#commit-summary {
  display: flex;
  flex-direction: column;
  min-height: 0;

  .commit-summary-header {
    border-bottom: var(--base-border);
  }

  .selectable {
    user-select: text;
    cursor: text;

    * {
      user-select: unset;
      pointer-events: unset;
      cursor: text;
    }
  }

  .commit-unreachable-info {
    padding: var(--spacing-half) var(--spacing);
    padding-top: 0;
    border-bottom: var(--base-border);
    display: flex;
    align-items: center;

    .octicon {
      margin-right: var(--spacing-half);
    }

    .link-button-component {
      margin-right: var(--spacing-half);
    }
  }

  .commit-summary-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    line-height: 18px;
    padding: var(--spacing);
    word-wrap: break-word;
    display: flex;

    &.empty-summary {
      color: var(--text-secondary-color);
    }

    .expander {
      background: transparent;
      padding: 0;
      border: none;
      color: var(--text-color);
      font-size: inherit;
      font-weight: normal;
      font-family: inherit;
      margin-left: var(--spacing);
      height: auto;

      svg {
        vertical-align: text-top;
      }

      &.useEllipsis {
        svg {
          margin-right: 0;
        }

        color: var(--text-secondary-color);
      }
    }

    .details-expander {
      background: transparent;
      padding: 0;
      border: none;
      color: var(--text-secondary-color);
      font-size: inherit;
      font-weight: normal;
      font-family: inherit;
      height: auto;
      margin-right: var(--spacing);
    }

    .commits-in-diff {
      padding-left: var(--spacing-half);
    }
  }

  .commit-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    // Maximum amount of commit description lines to show before collapsing
    -webkit-line-clamp: 1;
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-sm);
    word-wrap: break-word;
    white-space: pre-line;
    padding: 0 var(--spacing);
    margin-bottom: var(--spacing);
    min-height: 0;
  }

  .commit-summary-meta {
    display: flex;
    margin: 0;
    padding: 0 var(--spacing) var(--spacing);

    .commit-summary-meta-item {
      display: flex;
      flex-direction: row;
      min-width: 0;
      margin-right: var(--spacing);
      font-size: var(--font-size-sm);
      flex-shrink: 0;

      &.authors {
        .avatar {
          width: 16px;
          height: 16px;
        }

        .avatar,
        .octicon {
          display: inline-block;
          vertical-align: bottom; // For some reason, `bottom` places the text in the middle
        }

        .author {
          display: flex;

          .avatar-container {
            margin-right: var(--spacing-half);
          }
        }
      }

      &.commit-ref {
        .ref {
          padding-left: var(--spacing-half);
        }

        .copy-button {
          background: transparent;
          border: none;
          padding: 0;
          margin-left: var(--spacing-half);
          height: auto;

          :hover {
            color: var(--text-secondary-color);
          }
        }
      }

      &.lines-added-deleted {
        div {
          padding-right: var(--spacing-half);
        }

        .lines-added {
          color: var(--color-new);
        }

        .lines-deleted {
          color: var(--color-deleted);
        }
      }

      &.tags-item {
        flex-shrink: 1;
        user-select: text;

        .tags {
          padding-left: var(--spacing-half);
          @include ellipsis;
        }
      }
    }
  }

  &.expanded {
    .commit-body {
      -webkit-line-clamp: unset;
      margin: var(--spacing);
      margin-top: 0;
      background-color: var(--box-alt-background-color);
      padding: var(--spacing);
      max-height: 100px;
      overflow-y: auto;
    }

    .commit-summary-meta {
      display: block;

      .commit-summary-meta-item {
        margin-bottom: var(--spacing-half);

        &.authors {
          display: block;

          .author {
            margin-bottom: 2px;
          }
        }

        .tags {
          white-space: unset;
          overflow: unset;
        }
      }
    }

    &.details {
      .commit-body {
        margin-left: 15px;
      }
      .commit-summary-meta {
        margin-left: 5px;
      }
    }
  }
}
