@import '../../mixins';

/** A React component holding history's commit list */
#commit-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  .commit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    border-bottom: var(--base-border);

    padding: 0 var(--spacing);

    .info {
      display: flex;
      flex-direction: column;
      margin-top: -4px;
      overflow: hidden;
      width: 100%;

      .description {
        display: flex;
        flex-direction: row;
        margin-top: 3px;
      }

      .summary {
        font-weight: var(--font-weight-semibold);
      }

      .summary,
      .byline {
        @include ellipsis;
      }
    }

    .commit-indicators {
      display: flex;
      flex-flow: nowrap row;
      flex: 0 1 content;
      justify-content: flex-end;
      margin-left: var(--spacing);
      color: var(--list-item-badge-color);
      height: 16px;

      .tag-indicator {
        display: flex;
        flex: 0 1 auto;
        height: 100%;
        padding: 0 var(--spacing-half);
        border-radius: 3px;
        background: var(--list-item-badge-background-color);
        @include ellipsis;
      }

      .unpushed-indicator {
        flex: 0 0 auto;
        height: 100%;
        border-radius: 8px;
        padding: 0 var(--spacing-half);
        background: var(--list-item-badge-background-color);
        margin-left: var(--spacing-half);
      }
    }
  }

  .list-item.selected {
    .commit {
      .unpushed-indicator {
        background: var(--list-item-selected-badge-background-color);
        color: var(--list-item-selected-badge-color);
      }
    }
  }

  .focus-within {
    .list-item.selected {
      .commit {
        .unpushed-indicator {
          background: var(--list-item-selected-active-badge-background-color);
          color: var(--list-item-selected-active-badge-color);
        }
      }
    }
  }
}
