@import "../../mixins";

/** A React component holding history's commit list */
#commit-list {

  display: flex;
  flex-direction: column;
  flex: 1;

  .commit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;

    border-bottom: var(--base-border);

    padding: 0 var(--spacing);

    &.facade {
      .avatar {
        background-color: lightGray;
        border-radius: var(--border-radius);
      }

      .info {
        width: 100%;

        .summary {
          background-color: rgb(220, 220, 220);
          width: 90%;
          height: 1em;
        }

        .byline {
          background-color: rgb(240, 240, 240);
          width: 75%;
          height: 1em;
        }
      }
    }

    // This targets the <span> container that holds the avatar
    & > span {
      /**
       * The line-height needs to be reset or else there's extra space
       * under the avatar
       */
      line-height: 0;
    }

    .avatar {
      width: 28px;
      height: 28px;
      flex-shrink: 0;

      border-radius: var(--border-radius);
    }

    .info {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-left: var(--spacing-half);

      .summary, .byline {
        @include ellipsis
        line-height: 14px;
      }
    }
  }
}
