@import '../../mixins';

#expandable-commit-summary {
  display: flex;
  flex-direction: column;
  min-height: 0;
  border-bottom: var(--base-border);

  .commit-unreachable-info {
    padding: var(--spacing-half) var(--spacing);
    border-bottom: var(--base-border);
    display: flex;
    align-items: center;

    .octicon {
      margin-right: var(--spacing-half);
    }

    .link-button-component {
      margin-right: var(--spacing-half);
    }
  }

  .ecs-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    line-height: 16px;
    padding: var(--spacing);
    word-wrap: break-word;
    display: flex;

    .commits-in-diff {
      margin-left: var(--spacing-half);
    }

    &.empty-summary {
      color: var(--text-secondary-color);
    }

    .expander {
      background: transparent;
      padding: 0;
      border: none;
      color: var(--text-color);
      font-size: inherit;
      font-weight: normal;
      font-family: inherit;
      margin-left: var(--spacing);
      height: auto;

      svg {
        vertical-align: text-top;
      }
    }
  }

  .ecs-description {
    display: flex;
    position: relative;
    margin-bottom: var(--spacing);
    min-height: 0;

    &.overflowed {
      // When the description area can be, but isn't yet, expanded
      // we'll add a small shadow towards the bottom to hint that
      // there's more content available.

      .ecs-description-text:before {
        content: '';
        background: var(--box-overflow-shadow-background);
        position: absolute;
        height: 30px;
        bottom: 0px;
        width: 100%;
        pointer-events: none;
      }
    }

    .ecs-description-scroll-view {
      overflow: hidden;
      flex: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      // Maximum amount of commit description lines to show before collapsing
      -webkit-line-clamp: 3;
    }

    .ecs-description-text {
      font-family: var(--font-family-monospace);
      font-size: var(--font-size-sm);
      word-wrap: break-word;
      white-space: pre-line;
      padding: 0 var(--spacing);
      min-height: 0;
    }
  }

  .ecs-meta {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 var(--spacing) var(--spacing);

    .ecs-meta-item {
      display: flex;
      flex-direction: row;
      min-width: 0;
      margin-right: var(--spacing);
      font-size: var(--font-size-sm);
      flex-shrink: 0;
      align-items: center;

      &.authors {
        .avatar {
          width: 16px;
          height: 16px;
        }

        .author {
          .avatar-container {
            margin-right: var(--spacing-half);
          }
        }
      }

      &.commit-ref {
        .ref {
          padding-left: var(--spacing-half);
        }

        .copy-button {
          background: transparent;
          border: none;
          padding: 0;
          margin-left: var(--spacing-half);
          height: auto;

          :hover {
            color: var(--text-secondary-color);
          }
        }
      }

      &.lines-added-deleted {
        div {
          padding-right: var(--spacing-half);
        }

        .lines-added {
          color: var(--color-new);
        }

        .lines-deleted {
          color: var(--color-deleted);
        }
      }

      &.tags {
        flex-shrink: 1;

        .octicon {
          padding-right: var(--spacing-half);
        }

        span {
          @include ellipsis;
        }
      }
    }
  }

  &.expanded {
    .ecs-meta {
      display: block;

      .ecs-meta-item {
        margin-bottom: var(--spacing-half);
        align-items: unset;

        &.authors {
          display: block;

          .author {
            margin-bottom: 2px;
            display: flex;
          }
        }

        &.tags {
          span {
            white-space: normal;
          }
        }
      }
    }

    .ecs-description-scroll-view {
      max-height: 400px;
      overflow: auto;
      display: revert;

      &:before {
        content: none;
      }
    }
  }

  .selectable {
    user-select: text;
    cursor: text;

    description {
      user-select: unset;
      pointer-events: unset;
      cursor: text;
    }
  }
}
