@import "../../mixins";

/** A React component holding the currently selected repository's history */
#history {
  display: flex;
  flex-direction: row;
  flex: 1;

  // Temporary style until we can get the file list
  // living on its own in a resizable component.
  &>.resizable-component {
    border-right: var(--base-border);
  }
}

#commit-summary-container {
  flex-grow: 0;
}
