@import '../../mixins';

dialog#choose-branch {
  width: 450px;

  .branches-list {
    height: 300px;
  }

  // We're faking it so that the filter text box appears to reside
  // withing the header even though our current component structure
  // make it extremely hard to do so.
  .dialog-header {
    border-bottom: none;

    h1 {
      font-weight: var(--font-weight-light);
    }
  }

  .dialog-content {
    padding: 0;

    .filter-field-row {
      margin: 0;
      border-bottom: var(--base-border);
      padding: 0 var(--spacing-double);

      .filter-list-filter-field {
        padding-bottom: var(--spacing);
      }
    }

    .list-item {
      padding: 0 var(--spacing-double);

      .filter-list-group-header,
      .branches-list-item {
        padding: 0;
      }
    }
  }

  .dialog-footer {
    padding-top: var(--spacing);

    button[type='submit'] {
      padding: var(--spacing-half);
    }
  }

  .merge-info {
    margin-top: var(--spacing-half);
    margin-bottom: var(--spacing);
  }

  .merge-status-component {
    margin-top: 0;
  }

  .merge-status-icon-container {
    &:after {
      border-bottom: 0;
    }
  }
}
