@import '../../mixins';

dialog#merge {
  width: 450px;

  .branches-list {
    height: 300px;
  }

  // We're faking it so that the filter text box appears to reside
  // withing the header even though our current component structure
  // make it extremely hard to do so.
  .dialog-header {
    border-bottom: none;
  }

  .dialog-content {
    padding: 0;

    .filter-field-row {
      padding: 0 var(--spacing-double);
      border-bottom: var(--base-border);

      .filter-list-filter-field {
        padding: 0;
        padding-bottom: var(--spacing);
      }
    }

    .list-item {
      padding: 0 var(--spacing-double);

      .filter-list-group-header,
      .branches-list-item {
        padding: 0;
      }
    }
  }

  .dialog-footer {
    button[type='submit'] {
      height: auto;
      width: 100%;
      padding: var(--spacing-half);
    }

    p.merge-info {
      margin-bottom: 0;
      margin-top: var(--spacing-half);
      text-align: center;
      color: var(--text-secondary-color);

      strong {
        font-weight: normal;
        color: var(--text-color);
      }
    }

    .merge-status-icon-container {
      height: 20px;
      margin-top: var(--spacing-third);
      position: relative;
      text-align: center;

      .merge-status {
        background: var(--background-color);
        border-width: 0 var(--spacing-half);
        border: solid transparent;
        box-sizing: content-box;
        position: relative;
        z-index: 1;
      }

      &:after {
        display: block;
        border-bottom: var(--base-border);
        content: '';
        position: absolute;
        z-index: 0;
        display: block;
        width: 100%;
        top: var(--spacing);
      }
    }

    .merge-status-loading {
      color: $yellow-700;
    }

    .merge-status-conflicts,
    .merge-status-invalid {
      color: $red-500;
    }
    .merge-status-clean {
      color: $green-500;
    }
  }
}
