@import '../../mixins';

dialog#merge-conflicts-list {
  width: 450px;

  .summary {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 20px;
    }

    li:last-of-type {
      margin-bottom: 55px;
    }

    li.unmerged-file-status-resolved,
    li.unmerged-file-status-conflicts {
      display: flex;
      flex-flow: row nowrap;

      .octicon {
        margin-right: 10px;
      }

      .column-left {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
      }

      button:last-child,
      .octicon:last-child {
        margin-left: auto;
      }
    }

    .unmerged-file-status-resolved .file-conflicts-status {
      color: $green;
    }
    .unmerged-file-status-conflicts .file-conflicts-status {
      color: $orange;
    }
  }

  .cli-link {
    a {
      color: $blue;
    }
  }
}
