@import '../../mixins';

dialog#merge-conflicts-list {
  width: 450px;

  .summary {
    margin-bottom: 20px;
  }

  .dialog-content {
    padding-bottom: var(--spacing);
  }

  .green-circle {
    background-color: var(--color-new);
    color: var(--background-color);
    border-radius: 50%;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;

    li {
      margin-bottom: var(--spacing-double);
      padding-left: 0;
    }

    li:last-of-type {
      margin-bottom: calc(var(--spacing) * 5);
    }

    li.unmerged-file-status-resolved,
    li.unmerged-file-status-conflicts {
      display: flex;
      flex-flow: row nowrap;

      .file-octicon {
        margin-right: var(--spacing);
      }

      .column-left {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        max-width: 50%;
        overflow: auto;
      }

      button:last-child,
      .green-circle:last-child {
        margin-left: auto;
        flex-shrink: 0;
        flex: 0 1 auto;
      }
    }

    .unmerged-file-status-resolved .file-conflicts-status {
      color: $green;
    }
    .unmerged-file-status-conflicts .file-conflicts-status {
      color: $orange;
    }
  }

  .cli-link {
    a {
      color: $blue;
    }
  }
}
