.open-pull-request {
  width: 100%;
  height: 100%;
  max-width: calc(100% - var(--spacing-double) * 4);
  max-height: calc(100% - var(--spacing-double) * 4);

  header.dialog-header {
    padding-bottom: var(--spacing);

    h1 {
      width: auto;
    }

    height: auto;
    flex-wrap: wrap;

    .break {
      flex-basis: 100%;
      height: 0;
      padding: var(--spacing-half);
    }
  }

  .open-pull-request-content {
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
  }

  .open-pull-request-no-changes {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: var(--spacing-double);
  }

  .dialog-footer {
    flex-direction: row;

    .button-group {
      .octicon {
        margin-right: var(--spacing-half);
      }
    }
  }

  .pull-request-merge-status {
    flex-grow: 1;
  }
}
