.open-pull-request {
  max-width: none;

  header.dialog-header {
    padding-bottom: var(--spacing);

    h1 {
      width: auto;
    }

    height: auto;
    flex-wrap: wrap;

    .break {
      flex-basis: 100%;
      height: 0;
      padding: var(--spacing-half);
    }
  }

  .open-pull-request-content {
    padding: var(--spacing);
  }

  .open-pull-request-no-changes {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: var(--spacing-double);
  }

  .dialog-footer {
    flex-direction: row;
  }

  .pull-request-merge-status {
    flex-grow: 1;
  }
}
