@import '../../../styles/variables';

#release-notes {
  max-height: 450px;

  .dialog-header {
    height: 100px;

    .title {
      text-align: center;
      flex-grow: 1;

      .version {
        font-size: 14px;
        font-weight: var(--font-weight-semibold);
        margin-bottom: 0;
      }

      .date {
        font-size: 11px;
        color: var(--text-secondary-color);
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding-left: 0;
    }
  }

  .container {
    max-height: 200px;
    display: flex;
    flex-direction: row;

    .column {
      overflow: scroll;
      max-width: 200px;

      .section {
        margin-top: var(--spacing);

        .header {
          font-size: 12px;
          font-weight: var(--font-weight-semibold);
        }
      }
    }
  }
}
