@import '../../../styles/variables';

#release-notes {
  max-height: 450px;

  .dialog-header {
    height: 100px;

    .title {
      text-align: center;

      .version {
        font-size: 14px;
        font-weight: var(--font-weight-semibold);
      }

      .date {
        font-size: 11px;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      padding-left: 0;
    }
  }

  .column {
    overflow: scroll;

    .section {
      .header {
        font-size: 12px;
        font-weight: var(--font-weight-semibold);
      }
    }
  }
}
