#repository-settings {
  width: 600px;

  .no-remote {
    justify-content: space-between;

    button {
      flex-shrink: 0;
      flex-grow: 0;
      min-width: 120px;
      align-self: center;
    }
  }

  .tab-container {
    display: flex;

    .active-tab {
      border-left: var(--base-border);
      flex: 1;
    }
  }

  .fork-settings-description {
    margin-top: var(--spacing-double);
    font-size: var(--font-size-sm);
    color: var(--text-secondary-color);

    li {
      padding: 0;
      margin-bottom: 0;
    }
  }
}
