#test-notifications {
  .list {
    height: 200px;

    .row-content {
      width: 100%;
      display: flex;
      flex-direction: row;

      .main-content {
        flex-grow: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .right-accessory {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 10px;
      }
    }
  }
}
