dialog#rebase-progress {
  progress {
    -webkit-appearance: none;
    appearance: none;

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-webkit-progress-value {
      background-color: var(--dialog-rebase-progress-background);
      // ensure a smooth transition if the rebase goes immediately from 0 to 100%
      transition: width 1s ease;
    }

    max-width: 100%;
    width: 100%;
    margin-bottom: var(--spacing);
  }
  .details {
    display: flex;
    flex-flow: row nowrap;
    padding: var(--spacing) 0 var(--spacing-double);

    .green-circle {
      background-color: var(--color-new);
      color: var(--background-color);
      border-radius: 50%;
      height: 22px;
      width: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .summary {
      padding-left: var(--spacing);

      .message {
        font-weight: bold;
      }
    }
  }
}
