#os-not-supported-banner {
  .contents {
    .link-button-component {
      padding: 0 var(--spacing-half);
    }

    .alert-icon {
      fill: var(--color-conflicted);
      margin-right: var(--spacing);
    }
  }
}
