#successful,
#successful-merge {
  .banner-message {
    span {
      max-width: 100%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    display: flex;
    flex: 1 1 auto;
  }

  .green-circle {
    color: var(--color-new);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--spacing);
    flex-shrink: 0;
    flex-grow: 0;
  }

  .success-contents {
    padding-right: var(--spacing-half);
  }
}
