#successful-merge {
  position: relative;
  display: flex;
  overflow: hidden;
  align-content: center;
  align-items: center;
  justify-content: left;
  padding-left: var(--spacing);
  border-bottom: var(--base-border);

  height: 0px;
  transition: height 0.25s;
  // Prevents the notification banner from decreasing its height
  // when a large diff is rendered.
  flex: none;

  &.active {
    height: 30px;
  }

  .green-circle {
    background-color: var(--color-new);
    color: var(--background-color);
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--spacing);
  }

  .close {
    position: absolute;
    right: var(--spacing);
    border: 0;
    height: 16px;
    width: 16px;
    margin: 0;
    padding: 0;
    background: transparent;

    color: var(--text-secondary-color);

    &:hover {
      color: var(--text-color);
    }

    &:focus {
      outline: 0;
    }
  }
}
