#successful-merge {
  $banner-height: 30px;
  height: $banner-height;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-content: center;
  align-items: center;
  justify-content: left;
  padding-left: var(--spacing);

  // Prevents the notification banner from decreasing its height
  // when a large diff is rendered.
  flex: none;

  .banner-message {
    span {
      max-width: 100%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    overflow-x: hidden;
    display: flex;
    flex: 1 1 auto;
  }

  .green-circle {
    background-color: var(--color-new);
    color: var(--background-color);
    border-radius: 50%;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--spacing);
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .check-icon {
    height: 12px;
    width: 12px;
  }

  .close {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    width: 16px;
    height: 16px;
    margin-right: var(--spacing);
    margin-left: var(--spacing);
    background: transparent;

    color: var(--text-secondary-color);

    &:hover {
      color: var(--text-color);
    }

    &:focus {
      outline: 0;
    }
  }

  // animations for entering and leaving
  &.banner-enter {
    height: 0px;
    opacity: 0;

    &.banner-enter-active {
      height: $banner-height;
      opacity: 1;
      transition: height 300ms ease-in-out, opacity 200ms ease-in 300ms;
    }
  }

  &.banner-leave {
    height: $banner-height;
    opacity: 1;

    &.banner-leave-active {
      height: 0px;
      opacity: 0;
      transition: height 225ms ease-in-out 175ms, opacity 175ms ease-in;
    }
  }
}
