---
layout: default
permalink: licenses/
class: license-types
title: Licenses
---

<p>Open source licenses grant permission for anybody to use, modify, and share licensed software for any purpose, subject to conditions preserving the provenance and openness of the software. The following licenses are sorted by the number of conditions, from most (GNU AGPLv3) to none (Unlicense). Notice that the popular licenses featured on the <a href="/">home page</a> (GNU GPLv3 and MIT) fall within this spectrum.</p>
<p style="font-size:small; margin-bottom: 40px">If you’re looking for a reference table of every license on choosealicense.com, see the <a href="/appendix">appendix</a>.</p>

{% include license-overview.html license-id="agpl-3.0" %}
{% include license-overview.html license-id="gpl-3.0" %}
{% include license-overview.html license-id="lgpl-3.0" %}
{% include license-overview.html license-id="mpl-2.0" %}
{% include license-overview.html license-id="apache-2.0" %}
{% include license-overview.html license-id="mit" %}
{% include license-overview.html license-id="bsl-1.0" %}
{% include license-overview.html license-id="unlicense" %}

The above licenses represent the entire spectrum of open source licenses, from highly protective to unconditional. One of these should work for most new open source projects. Many other open source licenses exist, including older versions of and close substitutes for some of the above. See the resources listed on our <a href="/about/">about page</a> if you’d like to read more.
