#update-available {
  .download-icon,
  .warning-icon {
    color: var(--toast-warning-icon-color);
  }

  .toast-emoji {
    display: inline-block;
  }

  &.priority {
    background-color: var(--toast-warning-background);
    color: var(--toast-warning-text-color);

    a {
      color: var(--toast-warning-link-color);
    }
  }
}
