@import "../../mixins";

#desktop-app-title-bar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  flex-shrink: 0;
  height: 20px;
  width: 100%;

  display: flex;
  flex-direction: row;

  .app-title {
    flex-grow: 1;
    text-align: center;

    // This is cheating a bit but we'll use this to "push" the
    // window controls to the right on Windows. We could also
    // display: none and do flex-direction row-reverse.
    visibility: hidden;
  }

  // If you put a -webkit-app-region: drag element close to a window
  // frame edge it prevents resizing so we move the title bar down
  // 5px on windows to create a resize area equal to that of the sides
  // and bottom of the app. We don't want to push the window controls
  // down though so we'll compensate by giving them an equal but negative
  // margin.
  @include win32 {
    margin-top: 5px;
    height: 25px;
    .window-controls { margin-top: -5px }
  }

  // Don't ever show the title bar when we're in full screen mode.
  @include in-fullscreen { display: none; }

  .window-controls {

    flex-grow: 0;

    button {
      -webkit-app-region: no-drag;

      display: inline-block;
      position: relative;
      width: 45px;
      height: 29px;
      padding: 0;
      margin: 0;
      overflow: hidden;
      border: none;

      color: #ccc;
      background-color: transparent;

      &:hover {
        background-color: #e7e7e7;

        &:active {
          background-color: #cccccc;
        }
      }

      &.close:hover {
        background-color: #e81123;
        fill: #fff;

        &:active {
          background-color: #f1707a;
        }
      }

      svg {
        position: absolute;
        top: 9px;
        left: 17px;
      }
    }

  }


}
