#app-menu-bar {
  display: flex;

  .toolbar-button > button {
    padding: 0  var(--spacing);
    border: 0;

    .access-key.highlight {
      text-decoration: underline;
    }
  }

  .toolbar-button:not(.open) > button {
    color: var(--toolbar-button-secondary-color);

    &:hover {
      color: var(--toolbar-button-color);
    }
  }

  #foldout-container .foldout {
    // Normaly the foldouts have an opaque background but we're
    // doing a little hack here to make it appear as if the menus
    // only extend as far as is required to show all menu items.
    // So we'll have the background of the foldout be transparent
    // but have an opaque background on the menu pane.
    background: transparent;

    .menu-pane {
      background: var(--background-color);
    }
  }
}
