body > .tooltip,
.tooltip-host > .tooltip {
  position: fixed;
  left: 0;
  top: 0;
  z-index: var(--tooltip-z-index);
  pointer-events: none;

  max-height: 500px;
  max-width: 500px;

  word-wrap: break-word;

  background-color: var(--tooltip-background-color);
  color: var(--tooltip-color);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  font-size: var(--font-size);
  box-shadow: 0 8px 24px var(--tooltip-shadow-color);
  border: 1px solid var(--tooltip-border-color);

  &::before {
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: '';
    border: 6px solid transparent;
    color: var(--tooltip-background-color);
  }

  &.tooltip-s,
  &.tooltip-se,
  &.tooltip-sw {
    &::before {
      top: -13px;
      right: 50%;
      bottom: auto;
      margin-right: -6px;
      border-bottom-color: var(--tooltip-background-color);
    }
  }

  &.tooltip-n,
  &.tooltip-ne,
  &.tooltip-nw {
    &::before {
      bottom: -13px;
      right: 50%;
      top: auto;
      margin-right: -6px;
      border-top-color: var(--tooltip-background-color);
    }
  }

  &.tooltip-w {
    &::before {
      top: 50%;
      bottom: 50%;
      right: -13px;
      margin-top: -6px;
      border-left-color: var(--tooltip-background-color);
    }
  }

  &.tooltip-e {
    &::before {
      top: 50%;
      bottom: 50%;
      left: -12px;
      margin-top: -6px;
      border-right-color: var(--tooltip-background-color);
    }
  }

  &.tooltip-sw,
  &.tooltip-nw {
    &::before {
      right: 10px;
    }
  }

  &.tooltip-se,
  &.tooltip-ne {
    &::before {
      left: 10px;
    }
  }

  &.interactive {
    pointer-events: auto;
  }
}
