.password-text-box {
  position: relative;
  margin-bottom: 0;
  display: flex;
  flex-grow: 1;

  .text-box-component {
    input {
      padding-right: var(--spacing-triple);
    }
    margin-bottom: 0 !important;
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    margin-right: 0 !important;
    height: var(--text-field-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px !important;
    color: var(--text-secondary-color);

    // Removing the default button styles
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: inherit !important;
  }
}
