@import '../../../styles/variables';
@import '../../../styles/ui/window/title-bar';
@import '../../../styles/ui/octicons';
@import '../../../styles/globals';
@import '../../../styles/ui/button';
@import '../../../styles/ui/scroll';

#desktop-crash-container, #crash-app {
  height: 100%;
}

#crash-app {
  display: flex;
  flex-direction: column;
}

pre.error {
  flex-shrink: 1;
  flex-grow: 1;
  
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: var(--font-family-monospace);
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: var(--spacing);
  border-radius: var(--border-radius);

  user-select: text;
  cursor: text;

  overflow: auto;

  --scroll-bar-thumb-background-color: rgba(255,255,255, 0.4);
  --scroll-bar-thumb-background-color-active: rgba(255,255,255, 1);
}

header {

  margin-bottom: var(--spacing);
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: var(--font-weight-semibold);
  }

  .octicon.error-icon {
    flex: none;
    color: var(--error-color);
    height: 32px;
    margin-right: var(--spacing);
  }
}

p {
  margin: 0 0 var(--spacing-half) 0;
  max-width: 500px;
  flex-shrink: 0;
}

main {
  margin: var(--spacing-quad);
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.welcome-graphic-bottom {
  position: absolute;
  right: var(--spacing);
  bottom: var(--spacing);
  
  height: 45%;
  // I hate this but we'll have to live with it for beta.
  z-index: -1;
}

.welcome-graphic-top {
  position: absolute;
  right: 80px;
  top: 40px;
  
  height: 20%;
  // I hate this but we'll have to live with it for beta.
  z-index: -1;
}
