.unreachable-commits {
  max-width: 400px;

  .unreachable-commit-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 160px;
  }

  .message {
    padding: var(--spacing);
    border-bottom: var(--base-border);
  }
}
