.pull-request-compare-bar {
  background-color: var(--box-alt-background-color);
  padding: var(--spacing-half) var(--spacing-double);
  border-bottom: 1px solid var(--box-border-color);

  .title {
    font-size: 20px;
    font-weight: var(--font-weight-semi-bold);
  }

  .controls {
    display: flex;
    align-items: center;

    .branch-box {
      min-width: 200px;
      padding: var(--spacing-half);
      display: inline-block;
    }
  }
}
