// Variables
//
// This files contains CSS variables accessible to all selectors

:root {
  // Colors
  --text-color: #5f717f;
  --background-color: #fff;

  // Typography
  //
  // Font, line-height, and color for body text, headings, and more.
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  // Pixel value used to responsively scale all typography. Applied to the `<html>` element.
  --font-size: 16px;
}
