.ci-check-list-item {
  display: flex;
  width: 100%;
  border-bottom: var(--base-border);
  height: auto;
  flex-direction: row;
  align-items: center;

  &.condensed {
    border-bottom: none;
    align-items: center;
    justify-content: center;

    .ci-check-status-symbol {
      padding: var(--spacing-third);
      display: flex;
      margin: 0;
    }
  }

  &.sticky {
    position: sticky;
    background-color: var(--background-color);
    top: 29px;
    z-index: var(--list-sticky-header-second-level-z-index);
  }

  &.selected .ci-check-name span.isLink {
    &:hover {
      color: var(--link-button-selected-hover-color);
      cursor: pointer !important;
    }
  }

  &:not(.selected) .ci-check-name span.isLink {
    &:hover {
      color: var(--link-button-color);
      cursor: pointer !important;
    }
  }

  .ci-check-status-symbol,
  .job-step-toggled-indicator {
    padding: var(--spacing) var(--spacing-half);
    padding-top: calc(var(--spacing-half) * 3);
  }

  .ci-check-status-symbol {
    margin: 0 var(--spacing-half);
    padding-left: var(--spacing-half);
    padding-bottom: var(--spacing-double);
  }

  .job-step-toggled-indicator {
    padding-left: 0px;
    color: var(--text-secondary-color);
  }

  .check-run-header-buttons {
    position: relative;
    height: 25px;
    right: 25px;
    min-width: 52px;
  }

  .job-rerun,
  .view-check-externally {
    color: var(--text-secondary-color);
    padding: 0px var(--spacing-half);

    &.not-action-job {
      color: var(--text-secondary-color-muted);
    }
  }

  .ci-check-list-item-detail {
    flex: 1;
    margin: auto;
    overflow-x: hidden;
  }

  .ci-check-name {
    font-weight: var(--font-weight-semibold);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: inherit;
    margin: 0;
  }

  .ci-check-description {
    color: var(--text-secondary-color);
    font-weight: var(--text-secondary-color);
    font-size: var(--font-size-sm);
    line-height: 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    width: 250px;
    height: 12px;
  }

  .ci-check-status-button {
    display: flex;
    flex: 1;
    margin-left: 1px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: -50px;

    &:focus {
      background: var(--list-item-hover-background-color);
    }

    &:focus + span {
      .button-component {
        background: var(--list-item-hover-background-color);
      }
    }
  }

  .button-component {
    // Remove button styles
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    height: 100%;
    border-radius: unset;
    text-align: unset;
    background: inherit;

    &:focus {
      outline-offset: 0px;
    }

    &:hover {
      background: var(--list-item-hover-background-color);
    }
  }
}
.ci-steps-container {
  background-color: var(--box-alt-background-color);

  .no-steps {
    padding: var(--spacing);
    text-align: center;
  }
}

.ci-steps-header {
  display: flex;
  justify-content: end;
  padding: var(--spacing-half);
  padding-top: var(--spacing);
  padding-bottom: 0;
  border-bottom: 1px solid var(--box-skeleton-background-color);
  margin-bottom: var(--spacing-half);
  margin-left: var(--spacing-half);
  margin-right: var(--spacing-half);

  h4 {
    flex-grow: 1;
    font-weight: unset;
  }

  .job-rerun,
  .view-check-externally {
    padding: 0;
    margin-left: var(--spacing);
    color: var(--text-secondary-color);

    &.not-action-job {
      color: var(--text-secondary-color-muted);
    }
  }
}
