.ci-check-run-list {
  :first-child {
    &.ci-check-run-list-group {
      :first-child {
        &.ci-check-run-list-group-header {
          &.condensed {
            padding-top: 0;
          }
        }
      }
    }
  }

  .ci-check-run-list-group {
    h2 {
      margin: 0;
      font-size: inherit;
      font-weight: inherit;
    }
  }

  .ci-check-run-list-group-header {
    position: sticky;
    top: 0;
    padding: var(--spacing-half) var(--spacing);
    background-color: var(--background-color);
    border-bottom: var(--base-border);
    filter: brightness(98%);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: var(--list-sticky-header-top-level-z-index);

    &.condensed {
      font-weight: var(--font-weight-semibold);
      background-color: inherit;
      border-bottom: none;
      padding: var(--spacing-half);
    }
  }
}
