.ci-check-list-item {
  display: flex;
  width: 100%;
  border-bottom: var(--base-border);
  height: auto;

  &.selected .ci-check-name span {
    &:hover {
      color: var(--link-button-selected-hover-color);
      cursor: pointer !important;
    }
  }

  &:not(.selected) .ci-check-name span {
    &:hover {
      color: var(--link-button-color);
      cursor: pointer !important;
    }
  }

  .ci-check-status-symbol,
  .job-step-toggled-indicator {
    padding: var(--spacing);
    padding-top: 11px;
  }

  .job-step-toggled-indicator {
    padding-left: 0px;
    color: var(--text-secondary-color);
  }

  .ci-check-list-item-detail {
    flex: 1;
    margin: auto;
    overflow-x: hidden;
  }

  .ci-check-name {
    font-weight: var(--font-weight-semibold);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .ci-check-description {
    color: var(--text-secondary-color);
    font-weight: var(--text-secondary-color);
    font-size: var(--font-size-sm);
    line-height: 9px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    width: 250px;
    height: 12px;
  }
}
