dialog#about {

  .dialog-content {
    .row-component {
      justify-content: center;
    }

    p, h2 {
      text-align: center;
    }
  }

  .logo {
    justify-content: center;
    svg {
      width: 64px;
      height: 64px;
    }
  }

  .update-status {
    
    .octicon.spin {
      // Make sure the spinner is aligned with the text.
      align-self: center;

      // Tighten up the spacing between the spinner and the text
      &:not(:last-child) {
        margin-right: 3px;
      }
    }
  }
}
