#acknowledgements {
  width: 580px;

  .dialog-content {
    height: 300px;
    overflow: scroll;

    .license-text {
      font-family: var(--font-family-monospace);
      white-space: pre-wrap;
      margin-bottom: var(--spacing-double);
    }
  }
}
