#acknowledgements {
  width: 600px;

  .dialog-content {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    .license-text {
      font-family: var(--font-family-monospace);
      white-space: pre-wrap;
      margin-bottom: var(--spacer-4);

      // make the text selectable
      cursor: text;
      user-select: text;
    }
  }
}
