#acknowledgements {
  width: 600px;

  .dialog-content {
    height: 300px;
    overflow: scroll hidden;

    .license-text {
      font-family: var(--font-family-monospace);
      white-space: pre-wrap;
      margin-bottom: var(--spacing-double);

      // make the text selectable
      cursor: text;
      user-select: text;
    }
  }
}
