#add-existing-repository {
  .file-picker {
    display: flex;
    flex-direction: row;

    input {
      flex-grow: 2;
      margin-right: var(--spacing);
    }
  }

  .add-repo-form {
    margin-bottom: var(--spacing);
  }
}
