#add-existing-repository {
  .file-picker {
    display: flex;
    flex-direction: row;

    label {
      display: flex;
      align-items: center;
      flex: 1;

      input {
        flex: 1;
      }
    }
  }
}
