@import "../mixins";

.toolbar-button.app-menu {
  .text, .dropdownArrow {
    display: none;
  }

  .icon {
    margin: 0 var(--spacing);
  }
}

#app-menu-foldout {
  height: 100%;

  .menu-pane {
    height: 100%;
    width: 200px;
    padding-top: var(--spacing);
  }

  .menu-item {
    @include ellipsis;
    display: flex;
    width: 100%;
    margin-left: var(--spacing-double);

    .label {
      flex-grow: 1;
      margin-right: var(--spacing);
    }

    .submenu-arrow {
      flex-shrink: 0;
      opacity: 0.7;
      // TODO: Draw a custom path here instead of resizing the existing arrow
      height: 12px;
      margin-right: var(--spacing);
    }
  }
}
