@import "../mixins";

.toolbar-button.app-menu {
  .text, .dropdownArrow {
    display: none;
  }

  .icon {
    margin: 0 var(--spacing);
  }
}

#app-menu-foldout {
  height: 100%;

  .menu-pane {
    height: 100%;
    width: 200px;
    margin: var(--spacing);
  }

  .menu-item {
    @include ellipsis;
    margin: var(--spacing-double) 0;
    display: flex;
    width: 100%;

    .label {
      flex-grow: 1;
      margin-left: var(--spacing);
    }

    .submenu-arrow {
      flex-shrink: 0;
      margin-left: var(--spacing);
    }
  }
}
