@import '../mixins';

#desktop-app {
  // This is just a dummy wrapper needed because react doesn't like
  // being installed into <body>, see https://github.com/facebook/react/issues/3207
  &-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  // The main react component div
  &-chrome {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
  }

  // main non-window chrome wrapper
  &-contents {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
  }
}
