@import "../mixins";

.toolbar-button.app-menu {
  .text, .dropdownArrow {
    display: none;
  }

  .icon {
    margin: 0 var(--spacing);
  }
}

#app-menu-foldout {
  height: 100%;
  display: flex;

  .menu-pane {
    height: 100%;
    width: 240px;

    &:not(:last-child) {
      border-right: var(--base-border);

      // We want list items in previous menus to behave as if they have focus
      // even though they don't, ie we want the selected+focus state
      // to be in effect for all parent selected menu items as well as
      // the current
      .list-item {
        &.selected {
          --text-color: var(--box-selected-active-text-color);
          --text-secondary-color: var(--box-selected-active-text-color);

          color: var(--text-color);
          background-color: var(--box-selected-active-background-color);
        }
      }
    }
  }

  .menu-item {

    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;
    min-width: 0;
    margin-left: var(--spacing-double);

    .label {
      flex-grow: 1;
      margin-right: var(--spacing);
      @include ellipsis;
    }

    .submenu-arrow {
      flex-shrink: 0;
      opacity: 0.7;
      // TODO: Draw a custom path here instead of resizing the existing arrow
      height: 12px;
      margin-right: var(--spacing);
    }

    &.separator {
      border-bottom: var(--base-border);
    }
  }
}
