#blank-slate {
  display: flex;
  padding: var(--spacing);
  align-items: center;

  .header {
    max-width: 400px;
    align-self: center;

    text-align: center;
  }

  .title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    text-align: center;
    margin-bottom: var(--spacing-double);
  }

  .content,
  .footer {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-shrink: 0;
  }

  .content {
    margin: var(--spacing-double) 0;
    min-width: 80%;
  }

  .footer {
    margin: 0;
  }

  .callouts {
    display: flex;
    flex-shrink: 0;
    min-width: 0;
    min-height: 0;
    justify-content: center;
  }

  .callout {
    &:last-child {
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    width: 33%;
    max-width: 300px;
    align-items: center;

    text-align: center;

    padding: 0 var(--spacing);

    div {
      margin: var(--spacing) 0;
    }

    .octicon {
      flex-shrink: 0;
    }

    button {
      flex-grow: 0;
      flex-shrink: 0;
      min-height: var(--button-height);
      height: auto;
    }
  }

  .callout:not(:last-child) {
    border-right: var(--base-border);
  }

  // Custom image sizing explicitly for the dedicated
  // blank slate view (a.k.a the no-repositories view).
  .blankslate-image {
    max-width: 400px;
    width: 80%;
    flex-grow: 0.6;
    // Background image url is set in react since we need to
    // calculate it at runtime.
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
}

// For all views other than the dedicated blank slate
// view. Yes, this is confusing.
.ui-view:not(#blank-slate) .blankslate-image {
  width: 50%;
  min-width: 400px;
  max-width: 800px;
}

// In the foldout we want the image to fill the
// full width of the container (minus padding).
.foldout .blankslate-image {
  width: 100%;
}

// When there's not enough space to show the blankslate
// image any more (due to zooming or having DevTools docked
// in the app window)
@media (max-height: 400px) {
  #blank-slate {
    // Vertically center everything
    justify-content: center;

    .blankslate-image {
      display: none;
    }

    .content {
      margin-top: 0;
    }
  }
}
