.branch-select-component {
  display: inline-flex;

  button {
    border: none;
    background-color: white;
    border: none;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: var(--font-family-monospace);
  }

  .ref-component {
    display: inline-flex;
  }

  .branch-select-dropdown {
    position: absolute;
    min-height: 200px;
    display: flex;
    width: 365px;
    padding: 0;
    margin-top: 25px;

    &.popover-component {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
