@import '../mixins';

.branches-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .branches-list {
    width: 300px;
  }
}

.pull-request-list {
  width: 300px;

  .pull-request-item {
    padding: 0 var(--spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 0;
    flex-grow: 1;

    .icon {
      margin-right: var(--spacing-half);
      width: 16px; // Force a consistent width
      flex-shrink: 0;
    }

    .info {
      display: flex;
      flex-direction: column;
      min-width: 0;
      flex-grow: 1;

      .title {
        @include ellipsis;
        min-width: 0;
        margin-right: var(--spacing-half);

        font-weight: var(--font-weight-semibold);
      }

      .subtitle {
        @include ellipsis;
        min-width: 0;
        margin-right: var(--spacing-half);

        font-weight: var(--font-weight-light);
        font-size: var(--font-size-sm);
        color: var(--text-secondary-color);
      }
    }

    .status {
      width: 16px;
      flex-shrink: 0;
    }
  }
}

.branches-list {
  &-item {
    padding: 0 var(--spacing);
  }

  &-item {
    display: flex;
    flex-direction: row;
    min-width: 0;
    flex-grow: 1;
    align-items: center;

    .icon {
      margin-right: var(--spacing-half);
      width: 16px; // Force a consistent width
      flex-shrink: 0;
    }

    .name {
      flex-grow: 2;
      @include ellipsis;
      max-width: 65%;
      margin-right: var(--spacing-half);
    }

    .description {
      margin-right: var(--spacing-half);
      color: var(--text-secondary-color);
      font-size: var(--font-size-sm);
      flex-grow: 1;
      text-align: right;
      white-space: nowrap;
    }
  }
}
