@import '../mixins';

.branches-list-container {
  height: 100%;
  display: flex;
  flex-direction: row;

  .branches-list {
    width: 300px;
  }
}

.branches-list {
  &-item {
    padding: 0 var(--spacing);
  }

  &-item {
    display: flex;
    flex-direction: row;
    min-width: 0;
    flex-grow: 1;
    align-items: center;

    .icon {
      margin-right: var(--spacing-half);
    }

    .name {
      flex-grow: 2;
      @include ellipsis;
      max-width: 65%;
    }

    .description {
      margin-right: var(--spacing-half);
      color: var(--text-secondary-color);
      font-size: var(--font-size-sm);
      flex-grow: 1;
      text-align: right;
    }
  }
}
