@import '../mixins';

.button-component {
  @include ellipsis;
  // Chrome on Windows ignores the body element
  // font-family and uses Arial so we redefine
  // it here
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size);

  padding: 0 var(--spacing);

  border: var(--base-border);
  height: var(--button-height);

  color: var(--secondary-button-text-color);
  background-color: var(--secondary-button-background);

  border-radius: var(--button-border-radius);

  &:not(:disabled):hover {
    border-color: var(--secondary-button-focus-border-color);
    background-color: var(--secondary-button-hover-background);
  }

  &:focus {
    background-color: var(--secondary-button-hover-background);
    border-color: var(--secondary-button-focus-border-color);
    box-shadow: 0 0 0 1px var(--secondary-button-focus-shadow-color);
  }

  &:disabled {
    opacity: 0.6;
  }

  .octicon {
    vertical-align: middle;
  }
}

.button-component[type='submit'] {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: 1px solid var(--button-background);

  &:not(:disabled):hover {
    border-color: var(--button-background);
    background-color: var(--button-hover-background);
  }

  &:focus {
    border: 1px solid var(--button-focus-border-color);
    background-color: var(--button-hover-background);
    box-shadow: 0 0 0 2px var(--text-field-focus-shadow-color);
  }
}

.link-button-component {
  color: var(--link-button-color);
  text-decoration: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  &[disabled] {
    opacity: 0.6;
    cursor: default;
    text-decoration: none;
  }

  &.link-with-icon .octicon {
    margin-left: var(--spacing-half);
  }
}

.small-button {
  font-size: var(--font-size-sm);
  padding: 0 var(--spacing-half);
  height: 21px;
}

.button-group-item {
  border-right-width: 0;
  border-radius: 0;

  &:first-child {
    border-top-left-radius: var(--button-border-radius);
    border-bottom-left-radius: var(--button-border-radius);
  }

  &:last-child {
    border-right-width: 1px;
    border-top-right-radius: var(--button-border-radius);
    border-bottom-right-radius: var(--button-border-radius);
  }

  &.selected,
  &:focus,
  &:active,
  &:hover {
    border-right-width: 1px;

    + .button-group-item {
      border-left-width: 0;
    }
  }
}

.button-group-item {
  &:focus,
  &:active {
    z-index: 1;
  }
}
