.button-component {
  // Chrome on Windows ignores the body element
  // font-family and uses Arial so we redefine
  // it here
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size);

  padding: var(--spacing-half) var(--spacing);

  border: none;
  height: var(--button-height);

  color: var(--secondary-button-text-color);
  background-color: var(--secondary-button-background);

  &:not(:disabled):hover {
    background-color: var(--secondary-button-hover-background);
  }

  &:focus {
    outline: none;
    border-color: var(--focus-color);
  }

  &:disabled { opacity: 0.3; }
}

.button-component[type='submit'] {
  background-color: var(--button-background);
  color: var(--button-text-color);

  &:not(:disabled):hover {
    background-color: var(--button-hover-background);
  }
}

.link-button-component {
  color: var(--link-button-color);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
