button,
input[type='submit'],
.button {
  background-color: var(--button-background);
  box-shadow: 0 1px 1px rgba(5, 5, 5, 0.04);
  color: var(--button-text-color);

  // Chrome on Windows ignores the body element
  // font-family and uses Arial so we redefine
  // it here
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size);

  padding: var(--spacing-half) var(--spacing);

  border: none;

  &:not(:disabled):hover {
    background-color: var(--button-hover-background);
  }

  &:active {
    background-color: var(--button-active-background);
  }

  &:focus {
    outline: none;
    border-color: var(--focus-color);
  }

  &:disabled { opacity: 0.3; }
}

a.link-button-component {
  color: var(--link-button-color);
}
