@import 'changes/commit-message';
@import 'changes/changes-list';
@import 'changes/sidebar';
@import 'changes/undo-commit';
@import 'changes/changes-view';
@import 'changes/no-changes';
@import 'changes/oversized-files-warning';
