@import "../mixins";

/** A React component holding the currently selected repository's changes */
#changes-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#changes-list ul {
  list-style-type: none;
  align-self: stretch;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

#changes-list li {
  white-space: nowrap;
}

#changes-list .status {
  margin-left: 10px;
}
