@import "../mixins";

/** A React component holding the currently selected repository's changes */
#changes-list {
  ul {
    list-style-type: none;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
  }
  border-style: solid;

  li {
    white-space: nowrap;
  }

  .status {
    margin-left: 10px;
  }
}
