@import "../mixins";

/** A React component holding the currently selected repository's changes */
#changes-list {
  ul {
    list-style-type: none;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
  }

  li {
    white-space: nowrap;
  }
}

.changes-panel {
  &-header {
    background: var(--alt-background-color);
    border-bottom: 1px solid var(--box-border-color);
    box-shadow: 0 2px 2px #f0f0f0;
    padding: var(--spacing-half);
  }

  .list-item {
    padding: var(--spacing-half);
    border-bottom: var(--base-border);
  }
}

.changed-file {
  display: flex;
  flex-grow: 1;

  .status {
    flex-grow: 1;
    text-align: right;

    &-new .octicon {
      fill: var(--color-new);
    }

    &-modified .octicon {
      fill: var(--color-modified);
    }

    &-deleted .octicon {
      fill: var(--color-deleted);
    }
  }

  .octicon {
    vertical-align: text-bottom;
  }
}
