.checkbox-component {
  display: flex;
  flex-direction: row;

  input {
    &:focus {
      // Don't know why but on Windows this is necessary to
      // not have a 1px gap around the checkbox on the right
      // hand side. I'm guessing it's the same on mac?
      outline-offset: -1px;
    }
  }
}
