.ci-check-list-popover {
  .popover-component {
    position: absolute;
    padding: 0px;
    width: 300px;
    top: 65px;
    margin-left: -225px;
  }
}

.ci-check-list {
  height: 300px;
  overflow: hidden;
}

.ci-check-app-header {
  display: flex;
  ç: center;
  border-bottom: var(--base-border);
  padding: var(--spacing-half) var(--spacing);

  .ci-check-app-name {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-md);
    flex: 1;
  }
}
