.ci-check-list-popover {
  .popover-component {
    position: relative;
    padding: 0px;
    width: 375px;
    top: 45px;
    margin-left: -272px;
  }
}

.ci-check-run-list {
  max-height: 585px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ci-check-app-header {
  display: flex;
  align-items: center;
  border-bottom: var(--base-border);
  padding: var(--spacing-half) var(--spacing);
  background-color: var(--box-alt-background-color);
  min-height: 35px;

  .ci-check-app-name {
    font-weight: var(--font-weight-semibold);
    flex: 1;
  }

  .open-closed-icon {
    margin-right: var(--spacing-half);
  }
}
