.filter-list.clone-github-repo {
  .no-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: var(--spacer-4);
    width: 100%;

    .octicon {
      fill: var(--text-secondary-color);
      margin-right: var(--spacer-2);
    }

    &.loading {
      color: var(--text-secondary-color);
    }
  }
}
