@import "../mixins";

/** A React component holding comparison graph */
#comparison-graph {
  border-top: 1px solid var(--box-border-color);
  display: flex;
  flex-direction: column;
  height: 100px;
  flex-shrink: 0;

  text-align: center;
}
