@import "../mixins";

/** A React component holding the selected commit's detailed information */
#commit-summary {
  .files {
    display: flex;
    flex: 1;

    .list-item {
      border-bottom: var(--light-border);
      padding: var(--spacing);
    }

    .path {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.commit-summary {
  &-title,
  &-meta {
    padding: var(--spacing);
  }

  &-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light);
    padding: var(--spacing);
    word-wrap: break-word;
  }

  &-description {
    border-bottom: var(--light-border);
    font-family: var(--font-family-monospace);
    font-size: var(--font-size-sm);
    padding: var(--spacing);
    word-wrap: break-word;

    &:empty {
      display: none;
    }
  }

  &-meta {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 var(--spacing) var(--spacing);
  }

  &-meta-item {
    @include ellipsis;
    flex: 1 0 max-content;
    margin-right: var(--spacing);

    .octicon {
      margin-right: var(--spacing-third);
      vertical-align: bottom;
    }
  }

  &-header {
    border-bottom: var(--base-border);
    // Render the shadow on top of the list
    z-index: 2;
  }
}
