.commit-message-avatar-component {
  // With this, the popover's absolute position will be relative to its parent
  position: relative;

  .avatar-button {
    // override default button styles
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: inherit;
    border: none;
    height: inherit;
    color: inherit;
    background-color: none;

    border-radius: 50%;
    margin-right: var(--spacing-half);

    .avatar {
      margin-right: 0;
    }
  }

  .warning-badge {
    background-color: var(--commit-warning-badge-background-color);
    border: var(--commit-warning-badge-border-color) 1px solid;
    width: 18px;
    height: 18px;
    position: absolute;
    margin-top: -6px;
    margin-left: -7px;
    border-radius: 9px;

    > svg {
      color: var(--commit-warning-badge-icon-color);
      height: 10px;
      // With width=100%, the icon will be centered horizontally
      width: 100%;
    }
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  section + section {
    margin-top: var(--spacing);
  }

  section.button-group {
    display: flex;
    flex-direction: row;
  }

  .button-row {
    justify-content: flex-end;
  }

  .secondary-text {
    color: var(--text-secondary-color);
  }

  .git-email {
    overflow-wrap: anywhere;
  }

  .popover-component {
    // This allows for using <Rows> to structure content within dialog content.
    // All Rows that are direct descendants of dialog content except for the
    // last one receive a bottom margin.
    .row-component:not(:last-child) {
      margin-bottom: var(--spacing);
    }

    position: absolute;
    margin-left: 21px;
    bottom: 13px;

    width: 300px;
  }
}
