@import "../mixins";

/** A React component holding the commit message entry */
#commit-message {
  border-top: 1px solid var(--box-border-color);
  flex-direction: column;
  flex-shrink: 0;
  margin-top: auto;

  display: flex;
  background-color: var(--box-alt-background-color);
  box-shadow: 0 -1px 2px var(--shadow-color);
  padding: var(--spacing);

  .summary {
    display: flex;
    flex-direction: row;

    .summary-field {
      flex: 1;
      margin-bottom: var(--spacing);
    }

    .avatar {
      width: 28px;
      height: 28px;

      margin-right: var(--spacing-half);

      border: var(--base-border);
      border-radius: var(--border-radius);
    }
  }

  .commit-button {
    @include ellipsis
    margin-top: var(--spacing);
  }
}
