@import "../mixins";

/** A React component holding the selected commit's detailed information */
#commit-summary {
  .files {
    display: flex;
    flex: 1;

    .list-item {
      border-bottom: 1px solid var(--box-border-color);
      padding: var(--spacing);
    }

    .path {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.commit-summary {
  &-header,
  &-description {
    border-bottom: 1px solid var(--box-border-color);
    padding: var(--spacing);
  }

  &-title {
    font-size: 16px;
    font-weight: var(--font-weight-light);
    margin-bottom: var(--spacing-half);
  }

  &-description {
    font-family: var(--font-family-monospace);
    word-wrap: break-word;

    &:empty {
      display: none;
    }
  }

  &-meta {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-meta-item {
    @include ellipsis;
    flex: 1 0 max-content;
    margin-right: var(--spacing);

    .octicon {
      margin-right: var(--spacing-third);
      vertical-align: bottom;
    }
  }
}
