@import '../mixins';

.commit-details {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
  min-height: 150px;

  .fill-window {
    // necessary for "no files in commit" view to
    // look right alongside blank diff
    border-right: var(--base-border);
  }

  .file-list-header {
    background: var(--box-alt-background-color);
    border-bottom: 1px solid var(--box-border-color);
    border-right: var(--base-border);
    height: 30px;
    line-height: 30px;
    flex: 0 0 auto;
    padding: 0 var(--spacing);
    text-align: center;
  }
}
