@import "../mixins";

/** A React component holding the commit message entry */
#commit-message {
  border-top: 1px solid var(--input-border-color);
  flex-direction: row;
  align-self: flex-end;
  margin-top: auto;
}

.commit-form {
  display: block;
  background-color: #f9f9f9;
  padding: var(--spacing);
}
