@import "../mixins";

/** A React component holding the selected commit's detailed information */
#commit-summary {
  .files {
    display: flex;
    flex: 1;

    .list-item {
      border-bottom: 1px solid var(--box-border-color);
      padding: 10px;
    }

    .path {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.commit-summary {
  &-title,
  &-description {
    border-bottom: 1px solid var(--box-border-color);
    padding: 10px;
  }

  &-title {
    font-size: 16px;
    font-weight: var(--font-weight-light);
  }

  &-description {
    font-family: var(--font-family-monospace);

    &:empty {
      display: none;
    }
  }
}
