@import "../mixins";

/** A React component holding comparison graph */
#comparison-graph {
  display: flex;
  flex-direction: column;
  height: 100px;
  flex-shrink: 0;

  text-align: center;
  border-top: var(--base-border);
  border-bottom: var(--base-border);
  background-color: var(--box-alt-background-color);
  padding: 40px;
}
