@import "../mixins";

/** A React component holding history's commit list */
#commit-list {
  .commit {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    padding-left: 2px;

    &.facade {
      .avatar {
        background-color: lightGray;
        border-radius: 4px;
      }

      .info {
        width: 100%;

        .summary {
          background-color: rgb(220, 220, 220);
          width: 90%;
          height: 1em;
        }

        .byline {
          background-color: rgb(240, 240, 240);
          width: 75%;
          height: 1em;
        }
      }
    }

    .avatar {
      width: 48px;
      height: 48px;
      flex-shrink: 0;

      border-radius: 4px;
      align-self: center;
      margin-left: 7px;
    }

    .info {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin: auto 0;
      margin-left: 4px;

      .summary {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
