#configure-git-user {
  .form-component {
    margin: var(--spacing-double) 0;
  }

  // Styles for the commit list that's shown in the Configure Git component.
  .commit-list-example {
    position: relative;

    background: white;

    border-color: rgb(233, 235, 237);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;

    .header {
      background: rgb(242, 248, 254);
      padding: var(--spacing-half);
      font-size: var(--font-size-sm);
    }

    .commit {
      padding: var(--spacing-half);
      width: 280px;
      border-bottom: none;
    }
  }
}
