#discard-changes {
  .dialog-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: var(--spacer-3);

    li {
      padding-left: 0;
      margin-bottom: 0;
    }
  }
}
