#discard-changes {
  .dialog-content ul {
    list-style: none;
    margin: var(--spacing) 0;
    padding: 0;

    li {
      padding-left: 0;
      margin-bottom: 0;
    }
  }

  .path-text-component {
    font-family: var(--font-family-monospace);
  }
}
