.emoji {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.username {
  font-weight: var(--font-weight-semibold);
}

a.username {
  cursor: pointer;

  &:hover {
    color: var(--link-button-color);
    text-decoration: underline;
  }
}
