.emoji {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

a.username {
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: var(--link-button-color);
    text-decoration: underline;
  }
}
