.errors-component {
  background: var(--form-error-background);
  border: 1px solid var(--form-error-border-color);
  border-radius: var(--border-radius);
  color: var(--error-color);
  font-size: var(--font-size-sm);
  padding: var(--spacing-half);
}
