.expand-foldout-button {
  height: 40px;
  width: 100%;
  margin-bottom: var(--spacing);
  border-radius: 0px;

  .label {
    display: flex;
    float: left;

    .plus {
      margin-right: var(--spacing-half);
    }
  }

  .arrow {
    float: right;
  }

  &.checked {
    background-color: var(--button-background);
    color: var(--button-text-color);

    &:not(:disabled):hover {
      background-color: var(--button-hover-background);
    }
  }
}
