@import '../mixins';

.filter-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  min-width: inherit;

  border-right: var(--box-border-color);
  border-right-width: 1px;
  border-right-style: solid;

  &-filter-field {
    padding: var(--spacing);
  }

  &-container {
    display: flex;
    flex: 1;
  }
}
