@import "../mixins";

/** A React component holding a file diff */
#file-diff {
  .list-item {
    display: block;
  }
}

.diff-text {
  display: flex;
  font-family: monospace;
  text-overflow: ellipsis;
  text-align: left;
  text-orientation: upright;
  font-kerning: initial;
  word-wrap: break-word;
  white-space: pre;
  word-break: break-all;
  tab-size: 4;

  .before,
  .after {
    border-right: 1px solid #e5e5e5;
    color: #CCC;
    display: inline-block;
    // Use `em` because we want the min-width to be based on
    // the number of characters
    flex: 0 0 3em;
    text-align: center;
  }

  .after {
    border-width: 3px;
  }
}

.diff-hunk {
  background-color: #f8f8ff;
}

.diff-text .text {
  flex-grow: 1;
}

.diff-add {
  background: #EAFFEA;
}

.diff-delete {
  background: #FFECEC;
}
