@import "../mixins";

/** A React component holding a file diff */
#file-diff {
  text-align: center;
}

.diff-text {
  font-family: var(--font-family-monospace);
  font-size: 11px;
  text-overflow: ellipsis;
  text-align: left;
  text-orientation: upright;
  font-kerning: initial;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre;

  .before {
    border-right: 1px solid #e5e5e5;
  }

  .after {
    border-right: 4px solid #e5e5e5;
  }

  .before, .after, .text {
    padding: 3px 6px;
  }
}

.diff-line-column {
  display: flex;
  height: 100%;
}

.diff-text .before,
.diff-text .after  {
  color: #CCC;
  flex: 1;
  width: 50px;
  text-align: center;
}

.diff-add {
  background: #EAFFEA;
}

.diff-add {
  .diff-line-number {
    border-color: #b3e3b2;
  }
}

.diff-delete {
  background: #FFECEC;

  .diff-line-number {
    border-color: #eaaead;
  }
}

.diff-hunk {
  background-color: #f8f8ff;

  .diff-line-number {
    border-color: #e4e4fe;
  }
}

.diff-add-selected,
.diff-delete-selected {
  .diff-line-number {
    background: #5A93E0;
    border-color: #4f86d5;
    color: white;
  }
}

.diff-add-hover,
.diff-delete-hover {
  .diff-line-number {
    background: #96b8ec;
    border-color: #89a9dc;
    color: white;
  }
}
