.extension-list-container {
  height: 250px;
}

.extension-list-item {
  width: 100%
}

.new-editor-extension {
  width: 64px;
}

.new-editor-name {
  width: 128px;
}

.new-editor-cmd {
  width: 150px;
}