@import '../mixins';

.filter-list {
  display: flex;
  flex-direction: column;
  flex: 1;

  min-width: inherit;

  &-filter-field {
    padding: var(--spacing);
  }

  &-container {
    display: flex;
    flex: 1;
  }
}
