@import "../mixins";

/** A React component holding a file diff */
#file-diff {
  text-align: center;
}

.diff-text {
  font-family: monospace;
  text-overflow: ellipsis;
  text-align: left;
  text-orientation: upright;
  font-kerning: initial;
  word-wrap: break-word;
  word-break: break-all;
}

.diff-text .before, .diff-text .after  {
  color: #CCC
}

.diff-add {
  background: #EAFFEA;
}

.diff-delete {
  background: #FFECEC;
}
