#foldout-container {
  z-index: var(--foldout-z-index);

  .overlay {
    background: black;
    opacity: 0.4;
    height: 100%;
  }

  .foldout {
    background: var(--background-color);
    color: var(--text-color);
  }
}
