#foldout-container {
  z-index: 4;

  .overlay {
    background: black;
    opacity: 0.4;
    z-index: var(--foldout-z-index);
    height: 100%;
  }

  .foldout {
    background: white;
    z-index: var(--foldout-z-index);
  }
}
