input[type='text'],
input[type='date'],
input[type='email'],
input[type='range'],
input[type='search'],
input[type='password'],
textarea,
.text-field {
  border: 1px solid var(--box-border-color);
  border-radius: var(--border-radius);
  color: currentColor;
  font-size: var(--font-size);
  font-family: var(--font-family-sans-serif);
  padding: var(--spacing-half);

  resize: none;

  &:focus {
    outline: none;
    border-color: var(--focus-color);
  }
}

input[type='checkbox'] {
  &:focus {
    // Don't know why but on Windows this is necessary to
    // not have a 1px gap around the checkbox on the right
    // hand side. I'm guessing it's the same on mac?
    outline-offset: -1px;
  }
}

textarea {
  min-height: 100px;
}

.field-group {
  margin: var(--spacing-half) 0;

  // Setting the position to relative allows us to
  // absolutely position things based on `.field-group` box boundaries.
  // (See the `.forgot-password-link` styles in _welcome.scss for an example)
  position: relative;
}

.form-errors {
  background: var(--form-error-background);
  border: 1px solid var(--form-error-border-color);
  border-radius: var(--border-radius);
  color: var(--error-color);
  font-size: var(--font-size-sm);
  padding: var(--spacing-half);
}
