.form-component {
  display: flex;
  flex-direction: column;

  margin: var(--spacing-half) 0;

  & > *:not(:last-child) {
    margin-bottom: var(--spacing);
  }

  hr {
    width: 100%;
    border: none;
    height: 1px;
    border-bottom: var(--base-border);
  }
}
