.input-component {
  label {
    display: flex;
    flex-direction: column;
  }

  .input-content {
    display: flex;
    flex-direction: row;

    & > *:not(:last-child) {
      margin-right: var(--spacing);
    }

    input {
      flex: 1;
    }
  }
}
