.input-description {
  font-size: var(--font-size-sm);
  display: flex;
  flex-direction: row;

  .octicon {
    margin-right: var(--spacing-half);
  }

  &.input-description-warning {
    color: var(--text-secondary-color);
  }

  &.input-description-warning {
    .octicon {
      fill: var(--dialog-warning-color);
    }
  }

  &.input-description-error {
    color: var(--dialog-error-color);

    .octicon {
      fill: var(--dialog-error-color);
    }
  }
}
