.no-branches {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  padding: var(--spacing);

  .blankslate-image {
    width: 257px;
    min-width: 0;
  }

  .title {
    font-weight: var(--font-weight-semibold);
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }

  .create-branch-button {
    margin: var(--spacing);
    align-self: stretch;
  }

  .protip {
    text-align: center;
    font-size: var(--font-size-sm);
  }

  kbd {
    border-radius: var(--border-radius);
    border: var(--base-border);
    border-color: $gray-300;
    display: inline-block;
    font-family: var(--font-family-monospace);
    padding: 1px;
    line-height: 1;
  }
}
