.popup {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: var(--box-alt-background-color);
  position: absolute;
  border: var(--base-border);
  border-radius: var(--border-radius);
  box-shadow: 0 0 7px rgba(0,0,0,0.15);
}

.popup-content {
  border: var(--base-border);
  border-radius: var(--border-radius);
  background: var(--background-color);
}
.popup-actions {
  border-top: var(--base-border);
}
