.popover-dropdown-component {
  display: inline-flex;

  .button-content,
  .popover-dropdown-button-label {
    font-weight: var(--font-weight-semibold);
  }

  .popover-dropdown-button-label {
    color: var(--text-secondary-color);
    margin: 0 var(--spacing-half);
  }

  .popover-dropdown-popover {
    min-height: 200px;
    width: 365px;

    .popover-content {
      padding: 0;
    }

    .popover-dropdown-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .popover-dropdown-header {
      padding: var(--spacing);
      display: flex;
      border-bottom: var(--base-border);

      h3 {
        margin-bottom: 0;
        font-size: var(--font-size);
      }

      .close {
        margin-right: 0;
      }
    }

    .popover-dropdown-content {
      display: flex;
      flex-grow: 1;
      min-height: 0;
    }
  }
}
