#preferences {
  .preferences-container {
    display: flex;
    .tab-container {
      border-left: var(--base-border);
      flex: 1;
    }

    fieldset {
      border: none;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .advanced-section {
      &:not(:last-child) {
        margin-bottom: var(--spacing);
      }

      .checkbox-component:not(:last-child) {
        margin-bottom: var(--spacing-half);
      }

      .git-settings-description {
        margin-top: var(--spacing);
      }

      .setting-hint-warning {
        margin-top: var(--spacing);
      }

      .warning-icon {
        color: var(--warning-badge-icon-color);
      }
    }
  }

  .tab-bar {
    .icon {
      width: 16px;
    }
  }

  .accounts-tab {
    .account-info {
      .user-info-container {
        display: flex;
        flex-grow: 1;
        gap: var(--spacing);
      }

      .avatar {
        // 32px for the image + 2 on each side for the base border.
        width: 34px;
        height: 34px;

        align-self: center;
      }

      .user-info {
        flex-grow: 1;
        align-self: flex-start;

        .name {
          font-weight: var(--font-weight-semibold);
          // Tighten it up a little so that the real name and
          // username lines up with the avatar.
          margin-top: -2px;
          margin-bottom: -2px;
        }
      }
    }

    @media (max-width: 600px) {
      .account-info {
        flex-direction: column;

        .user-info-container {
          margin-bottom: var(--spacing);
        }

        .button-component {
          align-self: normal;
        }
      }
    }

    .call-to-action {
      display: block;

      .button-component {
        margin-top: var(--spacing);
        margin-left: 0;
      }
    }
  }

  .no-options-found {
    label {
      margin-bottom: 0;
    }

    span {
      color: var(--text-secondary-color);
    }
  }

  .default-branch-component {
    margin-top: var(--spacing-double);

    .ref-name-text-box {
      margin-top: var(--spacing);
    }

    #default-branch-description {
      margin-top: var(--spacing);
    }
  }

  .git-settings-description {
    margin-top: var(--spacing-double);
    font-size: var(--font-size-sm);
    color: var(--text-secondary-color);
  }

  .theme-selector {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--spacing-half) * -1);

    .radio-button-component {
      display: block;
      flex-shrink: 0;
      padding: var(--spacing-half);
      position: relative;
      width: 50%;
      margin: 0;

      input[type='radio'] {
        position: absolute;
        left: calc(var(--spacing) + var(--spacing-half));
        margin-top: calc(54.5%);

        &:checked + label {
          border-color: var(--box-selected-active-background-color);
        }
      }

      label {
        border-radius: var(--border-radius);
        border: var(--base-border);
        float: left;
        overflow: hidden;
        padding-bottom: var(--spacing-half);
        width: 100%;
        margin: 0;

        .theme-value-label {
          margin-left: calc(var(--spacing-triple));
        }

        img {
          width: 100%;
          border-bottom: var(--base-border);
          margin-bottom: var(--spacing-half);
          display: block;
        }

        .system-theme-swatch {
          width: 100%;
          position: relative;
          display: block;

          img {
            position: absolute;
            top: 0;

            &:first-child {
              position: inherit;
            }

            &:last-child {
              clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%);
            }
          }
        }
      }
    }
  }
}

#external-editor-error {
  width: 450px;

  p {
    word-wrap: break-word;
  }
}

.custom-integration-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: var(--spacing-half);

  .custom-integration-form-path-container {
    display: flex;
    gap: var(--spacing);
  }
}

.custom-theme-selector {
  .custom-theme-selecter-header {
    display: flex;
    width: 375px;
    button {
      margin-left: auto;
    }
    h2 {
      margin-bottom: 0;
    }
  }

  .swatch-box {
    width: 31%;
    float: left;
    background-color: rgb(228, 228, 228);
    border: 1px solid black;
    color: black;
    text-align: center;
    margin: 1%;
    padding: 1px;
    border-radius: 5px;
  }

  .theme-option-swatch {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    height: 50px;
    &:hover {
      border-width: 2px;
      outline: 1px solid rgb(228, 228, 228);
    }
    margin: auto;
  }

  .color-picker-container {
    position: absolute;
    width: 100px;
  }
}
