.pull-request-quick-view {
  position: absolute;
  left: 365px;

  .pull-request-quick-view-contents {
    background-color: var(--background-color);
    margin: 0 var(--spacing-double);
    min-width: 400px;
    border-radius: var(--border-radius);
    overflow: hidden;

    .header {
      display: flex;
      padding: var(--spacing-double);
      padding-bottom: var(--spacing);
      border-bottom: var(--base-border);

      .action-needed {
        flex-grow: 1;
        padding-left: var(--spacing-double);
      }
    }

    .pull-request {
      padding: var(--spacing-double);
      max-height: 500px;
      overflow: scroll;

      .status {
        background-color: var(--pr-open-icon-color);
        color: #{$white};
        display: inline-flex;
        align-items: center;
        padding: var(--spacing-half) var(--spacing);
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-semibold);
        border-radius: 2em;

        .state {
          margin-left: var(--spacing-half);
        }

        &.draft {
          background-color: var(--pr-draft-icon-color);
        }
      }

      .title {
        margin: var(--spacing) 0;

        .pr-badge {
          display: inline-flex;
        }
      }
    }
  }
}
