.ref-component {
  font-style: normal;
  font-family: var(--font-family-monospace);
  background: var(--path-segment-background);
  border: var(--path-segment-background);
  border-radius: var(--border-radius);
  padding: var(--path-segment-padding);
  word-break: break-all;
}
