@import '../mixins';

/** A React component holding the currently selected repository */
#repository {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-top: var(--base-border);

  > .focus-container {
    display: flex;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--box-border-color);
  }
}
