.segmented-control {

  &-item {
    --border-radius: 5px;
    --box-border-color: var(--box-selected-text-color);

    border: 1px solid var(--box-border-color);

    // This makes it so that we never render a double-width item border.
    // It has the unintended consequence of making it impossible to have
    // a segmented-control with just one item but we can live with that.
    border-right-width: 0;
    padding: 5px 20px;

    &:first-child {
      border-radius: var(--border-radius) 0px 0px var(--border-radius);
    }

    &:last-child {
      border-radius: 0px var(--border-radius) var(--border-radius) 0px;
      border-right-width: 1px;
    }

    // We intentionally swap foreground and background here to create
    // a more intense selected state. The segmented control is kind of
    // a special snowflake in so far that it doesn't have an active
    // selection state, just a selected one.
    &.selected {
      background-color: var(--box-selected-text-color);
      color: var(--box-selected-background-color);
    }
  }

}
