@import "../mixins";

.select-component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  label {
    @include ellipsis;
    margin-bottom: var(--spacing-third);
  }

  @include win32 {
    select {
      // Get rid of all default UA styling, we can do better
      -webkit-appearance: none;

      // Make the select look like a text box. Almost all of these
      // are copy-pasted from _text-box.scss.
      border: 1px solid var(--box-border-color);
      border-radius: var(--border-radius);
      color: currentColor;
      background: transparent;
      font-size: var(--font-size);
      font-family: var(--font-family-sans-serif);
      height: var(--text-field-height);
      padding: 0 var(--spacing-half);


      // Add back the arrow that got removed with appearance: none.
      // This is a custom version of the triangle-down octicon that was
      // adapted to be 8 by 5px. The gif is in 2x and the background-size
      // scales it back down so that we can have crisp arrows on high-dpi
      // displays.
      background-image: url('data:image/gif;base64,R0lGODlhEAAKAMQAAGpzff///8PHy6arsXqCi46UnN7g4vHy8/v7+253gYuSmm12gO/w8dve4Pz8/KassniAicfLzwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAQAAoAAAUw4ACMZFk+TmGugIIEB8GSEBPcRjIvze1HM4FvKDI9hsNUyYUcxka1JjLHkzYFwmYIADs=');
      background-size: 8px 5px;
      background-repeat: no-repeat;
      background-position: right var(--spacing-half) center;
    }
  }
}
