.side-by-side-diff-container {
  width: 100%;
  overflow: auto;
  flex-grow: 1;

  &.selecting-before .after,
  &.selecting-after .before {
    span,
    div {
      user-select: none;
    }
  }

  &.editable .row .before {
    flex-direction: row-reverse;
  }
}

.side-by-side-diff {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--diff-border-color);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-sm);
  color: var(--diff-text-color);

  span,
  div {
    user-select: text;
    cursor: auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    line-height: 20px;

    .gutter {
      width: 55px;
      flex-shrink: 0;
      text-align: right;
      background: var(--diff-gutter-background-color);
      box-sizing: border-box;
      padding: 0 var(--spacing);
      text-overflow: ellipsis;
      overflow: hidden;
      direction: rtl;
      user-select: none;

      &.selectable {
        cursor: pointer;
      }
    }

    .content {
      padding-left: var(--spacing);
      white-space: pre-wrap;
      overflow-y: auto;
      flex-grow: 1;
    }

    .before {
      border-right: 1px solid var(--diff-border-color);
    }

    .before,
    .after {
      width: 50%;
      display: flex;
      flex-direction: row;
    }

    &.hunk-info {
      background-color: var(--diff-hunk-background-color);
      color: var(--diff-hunk-text-color);

      div,
      span {
        user-select: none;
      }

      .gutter {
        background-color: var(--diff-hunk-background-color);
      }
    }

    &.context {
      .content {
        background: var(--background-color);
      }

      .gutter {
        color: var(--diff-line-number-color);
      }
    }

    &.added {
      color: var(--diff-add-text-color);

      .after {
        background-color: var(--diff-add-background-color);

        .gutter {
          background: var(--diff-add-gutter-background-color);

          &.line-selected {
            background: var(--diff-selected-background-color);
            color: var(--diff-selected-text-color);
          }
        }
      }

      .before {
        background-color: var(--diff-empty-row-background-color);

        .gutter {
          background-color: var(--diff-empty-row-gutter-background-color);
        }
      }
    }

    &.deleted {
      color: var(--diff-delete-text-color);

      .before {
        background-color: var(--diff-delete-background-color);

        .gutter {
          background: var(--diff-delete-gutter-background-color);
          border-color: var(--diff-delete-border-color);

          &.line-selected {
            background: var(--diff-selected-background-color);
            color: var(--diff-selected-text-color);
          }
        }
      }

      .after {
        background-color: var(--diff-empty-row-background-color);

        .gutter {
          background-color: var(--diff-empty-row-gutter-background-color);
        }
      }
    }

    &.modified {
      .before {
        color: var(--diff-delete-text-color);
        background-color: var(--diff-delete-background-color);

        .gutter {
          background: var(--diff-delete-gutter-background-color);
          border-color: var(--diff-delete-border-color);

          &.line-selected {
            background: var(--diff-selected-background-color);
            color: var(--diff-selected-text-color);
          }
        }
      }

      .after {
        color: var(--diff-add-text-color);
        background-color: var(--diff-add-background-color);

        .gutter {
          background: var(--diff-add-gutter-background-color);
          border-color: var(--diff-add-border-color);

          &.line-selected {
            background: var(--diff-selected-background-color);
            color: var(--diff-selected-text-color);
          }
        }
      }
    }
  }
}
