@import '../variables';

#stash-diff-viewer {
  display: flex;
  flex-direction: column;
  flex: 1;

  .header {
    h3 {
      font-weight: var(--font-weight-light);
      font-size: var(--font-size-xl);
      line-height: 1;
      margin-bottom: var(--spacing);
    }
    display: flex;
    flex-direction: column;
    border-bottom: var(--base-border);
    padding: var(--spacing-double);

    .button-group {
      display: flex;
      button {
        margin-right: var(--spacing);
      }
    }
  }

  .content {
    display: flex;
    flex: 1;
  }

  // Necessary so that the diff doesn't expand
  // beyond the width of the history
  min-width: 0;

  // for stash diff viewer
  .file-list {
    display: flex;
    flex: 1;

    border-right: var(--base-border);
  }
}
