.tab-bar {
  display: flex;
  flex-direction: row;
  height: var(--tab-bar-height);


  &-item {
    flex: 1;
    text-align: center;

    background: var(--tab-bar-background-color);

    // This makes it so that we never render a double-width item border.
    // It has the unintended consequence of making it impossible to have a tab
    // bar with just one item but we can live with that.
    border-right-width: 0;
    padding: 4px 0;

    &:first-child {
    }

    &:last-child {
      border-right-width: 1px;
    }

    // We intentionally swap foreground and background here to create
    // a more intense selected state. The tab bar is kind of a special snowflake
    // in so far that it doesn't have an active selection state, just a selected
    // one.
    &.selected {
      background-color: var(--tab-bar-active-color);
      color: var(--box-selected-background-color);

      .indicator {
        background-color: var(--box-selected-background-color);
      }
    }

    .indicator {
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-left: 4px;

      background-color: var(--tab-bar-active-color);
      border-radius: 50%;
    }
  }
}
