.tab-bar {
  display: flex;
  flex-direction: row;
  height: var(--tab-bar-height);

  background: var(--tab-bar-background-color);

  &.tabs &-item {
    // Reset styles from global buttons
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: var(--text-color);
    background: var(--background-color);
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size);

    // Give each item equal space
    flex: 1;

    // Center item contest horizontally and vertically
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--box-border-color);
    border-right: 1px solid var(--box-border-color);

    // This makes it so that we never render a double-width item border.
    // It has the unintended consequence of making it impossible to have a tab
    // bar with just one item but we can live with that.
    &:last-child {
      border-right: none;
    }

    // We intentionally swap foreground and background here to create
    // a more intense selected state. The tab bar is kind of a special snowflake
    // in so far that it doesn't have an active selection state, just a selected
    // one.
    &.selected {
      box-shadow: inset 0 -3px 0px var(--tab-bar-active-color);
    }

    &:hover {
      background: var(--tab-bar-hover-background-color);
    }

    .with-indicator {
      display: flex;
      align-items: center;
    }

    .indicator {
      color: var(--tab-bar-active-color);
      margin-left: 4px;
      margin-top: 1px;
    }

    .counter {
      color: var(--tab-bar-count-color);
      background-color: var(--tab-bar-count-background-color);
      margin-left: 4px;
      padding: 2px 5px;
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-semibold);
      border-radius: 20px;
      line-height: 1;
    }
  }

  &.switch &-item {
    // Reset styles from global buttons
    cursor: pointer;
    border: none;
    box-shadow: none;
    border-radius: 0;
    color: var(--text-color);
    background: var(--background-color);
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size);

    // Give each item equal space
    flex: 1;

    // Center item contest horizontally and vertically
    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 1px solid var(--box-border-color);

    // This makes it so that we never render a double-width item border.
    // It has the unintended consequence of making it impossible to have a tab
    // bar with just one item but we can live with that.
    &:last-child {
      border-right: none;
    }

    // We intentionally swap foreground and background here to create
    // a more intense selected state. The tab bar is kind of a special snowflake
    // in so far that it doesn't have an active selection state, just a selected
    // one.
    &.selected {
      font-weight: var(--font-weight-semibold);
    }
  }
}
