.tab-bar {
  display: flex;
  flex-direction: row;
  height: var(--tab-bar-height);

  background: var(--tab-bar-background-color);

  &-item {
    // Give each item equal space
    flex: 1;

    // Center item contest horizontally and vertically
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid var(--box-border-color);
    border-right: 1px solid var(--box-border-color);

    // This makes it so that we never render a double-width item border.
    // It has the unintended consequence of making it impossible to have a tab
    // bar with just one item but we can live with that.
    &:last-child {
      border-right: none;
    }

    // We intentionally swap foreground and background here to create
    // a more intense selected state. The tab bar is kind of a special snowflake
    // in so far that it doesn't have an active selection state, just a selected
    // one.
    &.selected {
      box-shadow: inset 0 -3px 0px var(--tab-bar-active-color);
    }

    .indicator {
      display: inline-block;
      width: 9px;
      height: 9px;
      margin-left: 4px;

      background-color: var(--tab-bar-active-color);
      border-radius: 50%;
    }
  }
}
