@import '../mixins';

.text-box-component {
  display: flex;
  flex-direction: column;
  flex: 1;

  .label-container {
    display: flex;

    label {
      @include ellipsis;
      flex-grow: 1;
    }

    .link-label {
      @include ellipsis;

      justify-content: flex-end;
      flex-shrink: 0;
      flex-grow: 0;
    }

    margin-bottom: var(--spacing-third);
  }

  :invalid {
    border-color: var(--error-color);
  }
  
  input {
    @include textboxish;
    @include textboxish-disabled;
  }
}
