#tutorial {
  min-width: 300px;
  box-shadow: var(--base-box-shadow);

  .titleArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--spacing-quint);
    padding-right: var(--spacing);

    h1 {
      margin: 0;
      font-weight: var(--font-weight-light);
    }
    svg {
      height: 56px;
      width: 56px;
      color: $blue;
    }
  }

  ol,
  li,
  summary {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }

  li,
  .titleArea {
    border-bottom: var(--base-border);
  }

  li {
    padding: var(--spacing-double);
    padding-right: var(--spacing);
  }
  summary {
    display: flex;
    font-weight: var(--font-weight-semibold);
    .summary-text {
      opacity: 0.5;
    }

    .green-circle {
      background-color: var(--color-new);
      color: var(--background-color);
      border-radius: 50%;
      height: 20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: var(--spacing);
      display: flex;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  details .contents {
    padding-left: var(--spacing-triple);
    .description {
      margin-bottom: var(--spacing-three-halves);
    }
    .button-component {
      margin-right: var(--spacing);
    }
    .shortcut {
      color: var(--text-secondary-color);
    }
  }
  details[open] summary {
    margin-bottom: var(--spacing);
    .summary-text {
      opacity: 1;
    }
  }
}
