.tutorial-panel-component {
  min-width: 300px;
  box-shadow: var(--base-box-shadow);

  .titleArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-triple) var(--spacing-double) var(--spacing-double) var(--spacing-quint);

    h1 {
      margin: 0;
      font-weight: var(--font-weight-light);
    }
    svg {
      height: 55px;
      width: 55px;
    }
  }

  ol,
  li,
  summary {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }

  li,
  .titleArea {
    border-bottom: var(--base-border);
  }

  li {
    padding: var(--spacing-double);
    padding-right: var(--spacing-three-halves);
  }
  summary {
    display: flex;
    font-weight: var(--font-weight-semibold);

    .summary-text {
      opacity: 0.5;
    }
    .chevron-icon {
      margin-left: auto;
    }
    .green-circle {
      @extend %circle;
      background-color: $green;
      color: var(--background-color);
    }
    .blue-circle {
      @extend %circle;
      background-color: $blue;
      color: var(--background-color);
    }
    .empty-circle {
      @extend %circle;
      background-color: transparent;
      border: var(--base-border);
      color: var(--text-color);
      .opacity {
        opacity: 0.5;
      }
    }
  }

  details .contents {
    padding-left: var(--spacing-triple);
    .description {
      margin-bottom: var(--spacing-three-halves);
    }
    .button-component {
      margin-right: var(--spacing);
    }
    .shortcut {
      color: var(--text-secondary-color);
    }
  }
  details[open] summary {
    margin-bottom: var(--spacing);
    .summary-text {
      opacity: 1;
    }
    .chevron-icon {
      transform: rotate(180deg);
    }
    .empty-circle .opacity {
      opacity: 1;
    }
  }
}

%circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: var(--spacing);
  flex-shrink: 0;
  flex-grow: 0;
}
