.sidebyside-diff-container {
  width: 100%;
  overflow: auto;
}

.sidebyside-diff {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--diff-border-color);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-sm);
  color: var(--diff-text-color);

  .row {
    display: flex;
    flex-direction: row;
    line-height: 20px;

    .gutter {
      width: 55px;
      flex-shrink: 0;
      text-align: right;
      background: var(--diff-gutter-background-color);
      box-sizing: border-box;
      padding: 0 var(--spacing);
      text-overflow: ellipsis;
      overflow: hidden;
      direction: rtl;
    }

    .content {
      padding-left: 12px;
      white-space: pre-wrap;
      overflow-y: auto;
      cursor: text;
      user-select: text;
    }

    .before {
      border-right: 1px solid var(--diff-border-color);
    }

    .before,
    .after {
      width: 50%;
      display: flex;
      flex-direction: row;
    }

    &.hunk-info {
      background-color: var(--diff-hunk-background-color);
      color: var(--diff-hunk-text-color);

      .gutter {
        background-color: var(--diff-hunk-background-color);
      }
    }

    &.context {
      .content {
        background: var(--background-color);
      }

      .gutter {
        color: var(--diff-line-number-color);
      }
    }

    &.added {
      color: var(--diff-add-text-color);

      .after {
        background-color: var(--diff-add-background-color);

        .gutter {
          background: var(--diff-add-gutter-background-color);
        }
      }

      .before {
        background-color: var(--diff-empty-row-background-color);

        .gutter {
          background-color: var(--diff-empty-row-gutter-background-color);
        }
      }
    }

    &.deleted {
      color: var(--diff-delete-text-color);

      .before {
        background-color: var(--diff-delete-background-color);

        .gutter {
          background: var(--diff-delete-gutter-background-color);
          border-color: var(--diff-delete-border-color);
        }
      }

      .after {
        background-color: var(--diff-empty-row-background-color);

        .gutter {
          background-color: var(--diff-empty-row-gutter-background-color);
        }
      }
    }

    &.modified {
      .before {
        color: var(--diff-delete-text-color);
        background-color: var(--diff-delete-background-color);

        .gutter {
          background: var(--diff-delete-gutter-background-color);
          border-color: var(--diff-delete-border-color);
        }
      }

      .after {
        color: var(--diff-add-text-color);
        background-color: var(--diff-add-background-color);

        .gutter {
          background: var(--diff-add-gutter-background-color);
          border-color: var(--diff-add-border-color);
        }
      }
    }
  }
}
