@import '../mixins';

fieldset.vertical-segmented-control {
  // Reset styles for fieldset
  border: none;
  margin: 0;
  padding: 0;
  min-width: 0;

  legend {
    margin-bottom: var(--spacing-third);
    padding: 0 0 5px 0;
    @include ellipsis;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: var(--border-radius);

    // Trick to make the border radius apply to the first
    // and last elements in the control even when they have
    // an opaque background.
    overflow: hidden;

    li {
      padding: var(--spacing);
      margin: 0;
      border-left: var(--base-border);
      border-right: var(--base-border);
      border-top: var(--base-border);
      border-bottom: none;

      &:last-child {
        border-bottom: var(--base-border);
      }

      &.selected {
        color: var(--box-selected-active-text-color);
        background: var(--box-selected-active-background-color);
        border-color: var(--box-selected-active-background-color);

        p {
          color: var(--box-selected-active-text-color);
        }

        // The list item that immediately follows a selected item
        // should have its top border be the same color as the background
        // of the selected one. This makes for crisp division between
        // selected and non-selected without a gray border to interfere.
        & + li {
          border-top-color: var(--box-selected-active-background-color);
        }
      }

      &:hover:not(.selected) {
        background: var(--box-hover-background-color);
        color: var(--box-hover-text-color);

        p {
          color: var(--box-hover-text-color);
        }
      }

      .title {
        font-weight: var(--font-weight-semibold);
        @include ellipsis;
      }

      p {
        color: var(--text-secondary-color);
      }
    }
  }
}
