#welcome {
  align-items: center;
  justify-content: center;

  #start {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #sign-in-dot-com {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #configure-git {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 432px;

    .description {
      text-align: center;
    }
  }

  label {
    display: flex;
    flex-direction: column;

    input {
      flex: 1;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    margin: var(--spacing-double) 0;

    button {
      margin: 0 var(--spacing-half);
      flex: 1;
    }
  }
}

.welcome-title,
.welcome-text {
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.welcome-title {
  font-size: 28px;
}

.welcome-text {
  font-size: 16px;
  width: 430px;
}

.welcome-button {
  font-size: var(--font-size);
  font-weight: 500;
  padding: var(--spacing) 0;
  width: 200px;
}

.forgot-password-link {
  position: absolute;
  top: 0;
  right: 0;
}

.horizontal-rule {
  text-align: center;
  position: relative;

  &:after {
    border-bottom: 1px solid #ddd;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5em;
  }

  .horizontal-rule-content {
    display: inline-block;
    background: white;
    padding: 0 0.5em;
    position: relative;
    z-index: 1;
  }
}

.sign-in-field {
  width: 100%;
}

.sign-in-footer {
  text-align: center;
}

.link-with-icon svg {
  margin-left: 0.25em;
  vertical-align: middle;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-double) auto;
  width: 320px;
}

.commit-list-example {
  position: relative;

  &:before {
    background: linear-gradient(to bottom, white, rgba(255,255,255,0), white);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .commit {
    padding: var(--spacing-half) !important;
  }
}

.field-group {
  position: relative;
}
