#welcome {
  align-items: stretch;
  justify-content: center;
  flex-direction: row;

  #start {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #sign-in-dot-com {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #configure-git {
    width: 432px;

    .description {
      text-align: center;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    margin: var(--spacing-double) 0;

    button {
      margin: 0 var(--spacing-half);
      flex: 1;
    }
  }

  .welcome-left {
    flex-grow: 1;
  }

  .welcome-right {
    flex-grow: 1;
    background-color: #32373c;
  }

  .usage-opt-out {
    width: 300px;

    .header {
      display: flex;
      justify-content: center;
    }

    .header-icon {
      width: 32px;
      height: 32px;
      margin: 10px;
    }
  }
}

.welcome-title,
.welcome-text {
  font-weight: var(--font-weight-light);
  margin: 0;
  text-align: center;
}

.welcome-title {
  font-size: var(--font-size-lg);
}

.welcome-text {
  font-size: var(--font-size-md);
  width: 430px;
}

.welcome-button {
  font-size: var(--font-size);
  font-weight: var(--font-weight-semibold);
  padding: var(--spacing) 0;
  width: 200px;
}

.sign-in-field {
  width: 100%;
}

.sign-in-footer {
  text-align: center;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  margin: var(--spacing-double) auto;
  width: 320px;
}
