#welcome {
  // Override the height of some components to make them bigger. The new height
  // is platform specific and defined as --welcome-item-height
  --text-field-height: var(--welcome-item-height);
  --button-height: var(--welcome-item-height);

  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  font-size: var(--font-size-md);

  #start {
    display: flex;
    flex-direction: column;
  }

  .actions {
    display: flex;
  }

  #sign-in-dot-com {
    display: flex;
    flex-direction: column;

    .form-component {
      display: block;
    }

    .actions {
      margin-top: var(--spacing-double);
    }

    hr {
      margin: var(--spacing-double) 0;
    }
  }

  #sign-in-enterprise {
    .sign-in-form {
      margin-top: 0;
    }

    .sign-in-footer {
      margin-top: var(--spacing-double);
    }

    .actions {
      display: inline-block;
      margin-top: var(--spacing-double);
    }

    hr {
      margin: var(--spacing-double) 0;
    }
  }

  #configure-git-user .form-component {
    div:last-child {
      margin-top: var(--spacing);
    }
  }

  #usage-opt-out {
    .welcome-title {
      margin: 0;
    }
  }

  input,
  button,
  select {
    font-size: var(--font-size-md);
  }

  input {
    padding: var(--spacing-half);
  }

  select {
    // We need to tweak the horizontal padding a bit here to fit correctly with
    // the bigger size
    padding: 0 1px;
  }

  button {
    margin-right: var(--spacing);
    padding: var(--spacing-half) var(--spacing);
  }

  .form-component {
    .text-box-component {
      margin-bottom: var(--spacing);
    }
  }

  .actions {
    margin-top: var(--spacing);
  }

  &.exiting {
    .welcome-left {
      transition: transform 250ms ease-in-out;
      transform: translateX(-100%);
    }
    .welcome-right {
      transition: transform 250ms ease-in-out;
      transform: translateX(100%);
    }
  }

  .create-account-link {
    font-weight: var(--font-weight-semibold);
  }

  .basic-auth-link {
    font-size: var(--font-size);
  }

  .welcome-main-buttons {
    margin-top: var(--spacing-quad);

    .button-component {
      padding-left: var(--spacing-double);
      padding-right: var(--spacing-double);
      margin: 0 var(--spacing-double) var(--spacing) 0;
    }

    .octicon.spin {
      margin-right: var(--spacing);
      margin-left: 0;
    }
  }
}

.welcome-title,
.welcome-text {
  margin: 0;
}

.welcome-title {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-light);
  line-height: 1.25;
  margin-bottom: var(--spacing);
}

.welcome-text {
  margin: var(--spacing) 0;
}

.welcome-button {
  font-weight: var(--font-weight-semibold);
  margin: var(--spacing) 0;
}

.sign-in-field {
  width: 100%;
}

.welcome-left {
  flex-grow: 1;
  width: 60%;
}

.welcome-right {
  flex-grow: 1;
  width: 40%;
}

.welcome-left {
  display: flex;
  align-items: center;
  padding: var(--spacing-quad);
  position: relative;

  .welcome-graphic-bottom {
    position: absolute;
    right: var(--spacing);
    bottom: var(--spacing);

    height: auto;
    max-height: 100%;
    width: 40%;
    // I hate this but we'll have to live with it for beta.
    z-index: -1;
  }

  .welcome-graphic-top {
    position: absolute;
    right: 80px;
    top: 40px;

    height: auto;
    max-height: 100%;
    width: 20%;
    // I hate this but we'll have to live with it for beta.
    z-index: -1;
  }

  @media screen and (min-width: 1366px) {
    zoom: 1.2;
  }

  @media screen and (min-width: 1400px) {
    zoom: 1.3;
  }

  @media screen and (min-width: 1600px) {
    zoom: 1.4;
  }

  @media screen and (min-width: 1800px) {
    zoom: 1.5;
  }
}

.welcome-right {
  background-color: #28373b;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: var(--spacing-quad) 0 0 var(--spacing-quad);
  position: relative;
  overflow: hidden;

  .welcome-graphic {
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
}

.skip-action-container {
  margin-top: var(--spacing-quad);

  .skip-button {
    color: var(--text-secondary-color);
  }
}

.welcome-start-disclaimer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 var(--spacing-quad) var(--spacing-quad) var(--spacing-quad);
  font-size: var(--font-size-sm);
  color: var(--text-secondary-color);
}

.welcome-content {
  justify-content: center;
  max-width: 500px;
  width: 100%;
}

.forgot-password-link {
  align-self: center;
  margin-left: var(--spacing);
}

@include win32-context {
  #welcome {
    --welcome-item-height: 31.5px;
  }
}

@include darwin-context {
  #welcome {
    --welcome-item-height: 29px;
  }
}
