name: CI

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Use Node.js 12.8.1
        uses: actions/setup-node@v1
        with:
          node-version: 12.8.1

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install and build dependencies
        run: yarn
      - name: Pre-build checks (Linting)
        run: |
          yarn lint
          yarn validate-changelog
          yarn check-modified
      - name: Build production app
        run: yarn build:prod
        env:
          DESKTOP_OAUTH_CLIENT_ID: ${{ secrets.DESKTOP_OAUTH_CLIENT_ID }}
          DESKTOP_OAUTH_CLIENT_SECRET:
            ${{ secrets.DESKTOP_OAUTH_CLIENT_SECRET }}
      - name: Publish production app
        run: yarn run publish
        env:
          DESKTOPBOT_TOKEN: ${{ secrets.DESKTOPBOT_TOKEN }}
          WINDOWS_CERT_PASSWORD: ${{ secrets.WINDOWS_CERT_PASSWORD }}
          S3_BUCKET: github-desktop
      - name: Prepare testing environment
        run: yarn test:setup
      - name: Run unit tests
        run: |
          yarn test:unit:cov
          yarn test:script:cov
      - name: Run integration tests
        run: yarn test:integration
        timeout-minutes: 5
